Repository bentoml/OpenLLM: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, check-models-table-update, sync-readme, changelog-dry-run, pyright

yapf:
  verbose: true
  name: yapf
  entry: ./tools/yapf
  language: python
  pass_filenames: false
  additional_dependencies:
  - yapf==0.40.0

check-models-table-update:
  name: check if table in README.md is up-to-date
  entry: ./tools/assert-model-table-latest
  language: script
  verbose: true

sync-readme:
  name: sync readme with python core library
  entry: ./tools/sync-readme
  language: script
  verbose: true

changelog-dry-run:
  name: Running changelog dry-run
  entry: hatch run changelog
  language: system

pyright:
  name: pyright
  entry: ./tools/pyright
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.317
  verbose: true

feat: add default python version for development [skip ci] (#212)
  .github/actions/setup-repo/action.yml
  .github/workflows/binary-releases.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/create-releases.yml
  .pre-commit-config.yaml
  .python-version-default
  DEVELOPMENT.md
  hatch.toml
  tools/assert-model-table-latest
  tools/lock-actions
Due: none

chore(ci): ignore locking main action for release [skip ci]
  .github/workflows/create-releases.yml
Due: none

chore(ci): ignore locking main action for release [skip ci] (#213)
  .github/workflows/create-releases.yml
Due: none

fix: editable install
  openllm-python/pyproject.toml
Due: none

chore: remove unused jobs [skip ci]
  .github/workflows/ci.yml
Due: none

fix(metadata): include hatch-fancy-pypi-readme into subdir [skip ci]
  hatch.toml
  openllm-python/pyproject.toml
  pyproject.toml
Due: none

chore: add symlink for changelog [skip ci]
  openllm-python/CHANGELOG.md
Due: changelog-dry-run

infra: prepare for release 0.2.23 [generated] [skip ci]
  CHANGELOG.md
  changelog.d/201.feature.md
  openllm-node/package.json
  package.json
Due: changelog-dry-run

infra: bump to dev version of 0.2.24.dev0 [generated] [skip ci]
  openllm-node/package.json
  package.json
Due: none

fix(metadata): hooks for metadata pypi [skip ci]
  openllm-python/pyproject.toml
Due: none

infra: prepare for release 0.2.24 [generated] [skip ci]
  CHANGELOG.md
  openllm-node/package.json
  package.json
Due: changelog-dry-run

fix: build from subdirectory [skip ci]
  .github/workflows/binary-releases.yml
Due: none

Rename www directory to public
  contrib/clojure/.gitignore
  contrib/clojure/README.md
  contrib/clojure/public/index.html
  contrib/clojure/public/static/atom-one-light.css
  contrib/clojure/public/static/logo-dark.svg
  contrib/clojure/public/static/logo-light.svg
  contrib/clojure/shadow-cljs.edn
  contrib/clojure/www/css/main.css
Due: check-models-table-update, sync-readme

infra: bump to dev version of 0.2.25.dev0 [generated] [skip ci]
  openllm-node/package.json
  package.json
Due: none

chore: remove unnecessary headers
  examples/bentoml-demo/bentofile.yaml
  examples/langchain-tools-demo/bentofile.yaml
  examples/langchain-tools-demo/bentoml_configuration.yaml
  openllm-python/src/openllm/bundle/oci/Dockerfile
  openllm-python/src/openllm/client/runtimes/base.py
  openllm-python/src/openllm/playground/_meta.yml
  pyproject.toml
  typings/cuda/cuda.pyi
Due: yapf, pyright

wip cleanup
  contrib/clojure/Dockerfile.bak
  contrib/clojure/README.md
  contrib/clojure/package.json
Due: check-models-table-update, sync-readme

chore: upload nightly wheels to test.pypi.org
  .github/workflows/compile-pypi.yml
Due: none

chore: update changelog and correct url to simple
  .github/workflows/compile-pypi.yml
  changelog.d/215.feature.md
Due: none

chore: lock actions [skip ci]
  .github/workflows/compile-pypi.yml
Due: none

chore: upload nightly wheels to test.pypi.org (#215)
  .github/workflows/compile-pypi.yml
  changelog.d/215.feature.md
Due: none

chore: setup infrastructure for release UI
  .gitattributes
  .github/CODEOWNERS
  .github/actions/create_release_and_archive.sh
  .github/workflows/clojure-frontend.yml
  .pre-commit-config.yaml
  DEVELOPMENT.md
  README.md
  changelog.d/89.feature.md
  clean.sh
  contrib/clojure/.dockerignore
  contrib/clojure/Dockerfile
  contrib/clojure/LICENSE.md
  contrib/clojure/README.md
  contrib/clojure/package.json
  contrib/clojure/pnpm-lock.yaml
  contrib/clojure/postcss.config.js
  contrib/clojure/src/generated/README.md
  contrib/clojure/tailwind.config.js
  contrib/clojure/www/css/main.css
  hatch.toml
  openllm-node/package.json
  openllm-python/ADDING_NEW_MODEL.md
  package.json
  tools/assert-model-table-latest.py
  tools/lock-actions.sh
  tools/run-clojure-ui.sh
  tools/sync-readme.sh
Due: yapf, check-models-table-update, sync-readme, pyright

fix: parentheses for compiling nightly wheels
  .github/workflows/compile-pypi.yml
Due: none

fix: install openllm from pip
  .github/workflows/clojure-frontend.yml
  contrib/clojure/Dockerfile
Due: none

chore(cli): add --cors option
  .gitattributes
  .github/workflows/clojure-frontend.yml
  contrib/clojure/.gitignore
  contrib/clojure/Dockerfile
  contrib/clojure/README.md
  contrib/clojure/src/generated/models-data.json
  hatch.toml
  openllm-python/src/openllm/cli/_factory.py
  openllm-python/src/openllm/cli/_sdk.py
Due: yapf, check-models-table-update, sync-readme, pyright

chore: remove cache to avoid race
  .github/workflows/clojure-frontend.yml
Due: none

fix: login to GHCR
  .github/workflows/clojure-frontend.yml
Due: none

chore: setup clj-kondo for linting clojure
  .pre-commit-config.yaml
  hatch.toml
Due: none

chore: update changelog [skip ci]
  changelog.d/89.feature.md
Due: none

chore: change builder image to debian and ignore generated json
  .github/workflows/clojure-frontend.yml
  contrib/clojure/.gitignore
  contrib/clojure/Dockerfile
  contrib/clojure/src/generated/models-data.json
Due: none

chore: finalize release version update sync
  .github/actions/release.sh
  .github/workflows/clojure-frontend.yml
  .github/workflows/create-releases.yml
Due: none

chore: update clojurescript ui README [skip ci]
  contrib/clojure/README.md
Due: check-models-table-update, sync-readme

fix: latest vllm build
  .gitattributes
  .github/actions/release.sh
  openllm-python/CHANGELOG.md
  openllm-python/pyproject.toml
  openllm-python/src/openllm/bundle/oci/Dockerfile
  pyproject.toml
Due: changelog-dry-run

fix(ci): run push nightly wheels
  .github/workflows/compile-pypi.yml
  contrib/clojure/README.md
Due: check-models-table-update, sync-readme

fix(ci): change default directory to run under subdir
  .github/workflows/ci.yml
  hatch.toml
  hatch_build.py
  openllm-python/.python-version-default
  openllm-python/pyproject.toml
  pyproject.toml
Due: yapf, pyright

revert: ignore coverage [skip ci]
  .github/workflows/ci.yml
Due: none

fix(ci): remove broken build hooks (#216)
  .github/workflows/compile-pypi.yml
  contrib/clojure/README.md
  hatch.toml
  hatch_build.py
  openllm-python/.python-version-default
  openllm-python/pyproject.toml
  pyproject.toml
Due: yapf, check-models-table-update, sync-readme, pyright

fix(wheels): make sure to run push after compiled is finished
  .github/workflows/compile-pypi.yml
Due: none

Path conditions:
  yapf: any of: \.py$, but not: .*\.(css|js|svg)$
  check-models-table-update: any of: README.md, but not: .*\.(css|js|svg)$
  sync-readme: any of: README.md, but not: .*\.(css|js|svg)$
  changelog-dry-run: any of: CHANGELOG.md, but not: .*\.(css|js|svg)$
  pyright: any of: \.py$, but not: .*\.(css|js|svg)$
