Repository bentoml/OpenLLM: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, check-models-table-update, changelog-dry-run

.pre-commit-config.yaml:

# Copyright 2023 BentoML Team. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

ci:
  autoupdate_schedule: weekly
  skip: [check-models-table-update, check-models-table-update, changelog-dry-run, pyright, mypy]
  autofix_commit_msg: "ci: auto fixes from pre-commit.ci\n\nFor more information, see https://pre-commit.ci"
  autoupdate_commit_msg: 'ci: pre-commit autoupdate [pre-commit.ci]'
exclude: '.*\.(css|js|svg)$'
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.0.278'
    hooks:
      - id: ruff
        args: [--exit-non-zero-on-fix, --show-fixes]
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/econchick/interrogate
    rev: 1.5.0
    hooks:
      - id: interrogate
        types: [python]
        exclude: ^(docs|tools|tests)
        args: [--config=pyproject.toml]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: ./tools/mypy
        'types_or': [python, pyi]
        language: python
        pass_filenames: false
        verbose: true
        exclude: |
          (?x)^(
              examples/.*|
              tools/.*|
              tests/.*|
              src/openllm/playground/.*|
              src/openllm/models/.*|
              .github/.*
          )$
        additional_dependencies: ["mypy==1.4.1", "types-tabulate", "types-Deprecated", "types-PyYAML", "types-decorator", "types-protobuf", "types-python-dateutil", "types-requests", "types-setuptools", "types-six", "types-ujson", "pandas-stubs", "types-Pillow", "types-Pygments", "types-appdirs", "types-colorama", "types-google-cloud-ndb", "types-jsonschema", "types-psutil", "types-pywin32", "types-tqdm", "types-openpyxl"]
      - id: pyright
        name: pyright
        entry: ./tools/pyright
        types: [python]
        language: node
        pass_filenames: false
        additional_dependencies: ['pyright@1.1.317']
        verbose: true
      - id: check-license-header
        name: check for license headers
        entry: ./tools/assert-license-headers
        language: script
        exclude_types:
          - 'markdown'
          - 'toml'
          - 'json'
          - 'text'
        exclude: |
          (?x)^(
              tools/.*|
              assets/.*|
              changelog.d/.*|
              typings/.*|
              .github/.*
          )$
      - id: check-models-table-update
        name: check if table in README.md is up-to-date
        entry: ./tools/assert-model-table-latest
        language: script
        files: README.md
      - id: changelog-dry-run
        name: Running changelog dry-run
        entry: hatch run changelog
        language: system
        files: CHANGELOG.md
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              tests/models/.*
          )$
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml

chore(ci): skip building container on unrelated path [skip ci]
  .github/workflows/build.yml
Due: none

chore: update changelog template
  changelog.d/template.md.jinja
Due: none

fix: set envvar for signing images on push [skip ci]
  .github/workflows/build.yml
Due: none

fix(ci): Correctly set signing for pushing container images (#161)
  .github/workflows/build.yml
  changelog.d/template.md.jinja
Due: none

infra: update changelog and added readme [generated] [skip ci]
  .github/workflows/build.yml
  CHANGELOG.md
  README.md
Due: check-models-table-update, changelog-dry-run

chore(readme): better tag organization [skip ci]
  README.md
Due: check-models-table-update

infra: update changelog and added readme badges [generated] (#162)
  .github/workflows/build.yml
  CHANGELOG.md
  README.md
Due: check-models-table-update, changelog-dry-run

fix(ci): correct set digest for signing images
  .github/workflows/build.yml
Due: none

fix(ci): agree with signing
  .github/workflows/build.yml
Due: none

chore: correct indent
  STYLE.md
Due: none

chore(ci): add changelog about style [skip ci]
  changelog.d/168.chore.md
Due: none

chore: add instruction for using docker images
  .github/actions/create_release_and_archive.sh
Due: none

fix: typo in ref for CVE
  .github/workflows/build.yml
Due: none

chore: update changelog
  changelog.d/169.feature.md
Due: none

infra: add instruction for using docker images from release notes (#169)
  .github/actions/create_release_and_archive.sh
  .github/workflows/build.yml
  changelog.d/169.feature.md
Due: none

Bump shadow-cljs version
  contrib/clojure-ui/deps.edn
  contrib/clojure-ui/package.json
Due: none

Fix warning on failed metadata fetch
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_selection/events.cljs
Due: none

chore(infra): disable update-changelog for now [skip ci]
  .github/workflows/update-changelog.yml
Due: none

infra: ignore rev that update styling [skip ci]
  .git-blame-ignore-revs
Due: none

Re-add clear chat history button
  contrib/clojure-ui/src/main/openllm/components/chat/views.cljs
  contrib/clojure-ui/src/main/openllm/components/nav_bar/views.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/views.cljs
Due: none

Delete events.cljs
  dashboard/clojure/src/main/openllm/components/nav_bar/events.cljs
Due: none

Fix file upload
  contrib/clojure-ui/src/main/openllm/api/components.cljs
Due: none

Better display for model type and id
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_selection/events.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_selection/subs.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_selection/views.cljs
Due: none

Configurable API base url
  contrib/clojure-ui/src/css/tailwind.css
  contrib/clojure-ui/src/main/openllm/api/http.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_selection/subs.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/views.cljs
  contrib/clojure-ui/src/main/openllm/db.cljs
  contrib/clojure-ui/src/main/openllm/events.cljs
  contrib/clojure-ui/src/main/openllm/subs.cljs
Due: none

chore(bnb): filter warnings message on CPU
  src/openllm/__init__.py
  src/openllm/_service.py
Due: pyright

chore(bnb): filter warnings message on CPU (#170)
  src/openllm/__init__.py
  src/openllm/_service.py
Due: pyright

chore: add editorconfig [skip ci]
  .editorconfig
Due: none

tests: add models snapshot for testing
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/model-tests.yml
  hatch.toml
  pyproject.toml
  src/openllm/models/flan_t5/configuration_flan_t5.py
  tests/conftest.py
  tests/models_test.py
Due: pyright

revert: remove unreleased changelog
  CHANGELOG.md
Due: changelog-dry-run

infra: reduce instance type for more lenient
  .github/workflows/build.yml
Due: none

revert: "infra: reduce instance type for more lenient"
  .github/workflows/build.yml
Due: none

fix: correct setup property for envvar instance
  src/openllm/_llm.py
  src/openllm/bundle/oci/__init__.py
  src/openllm/cli/entrypoint.py
  src/openllm/utils/import_utils.py
Due: pyright

fix(cli): always --force on `--push`
  src/openllm/cli/entrypoint.py
Due: pyright

fix: remove invalid OPENLLMDEVDEBUG envvar
  src/openllm/bundle/_package.py
Due: pyright

fix: correct file ending
  typings/click_option_group/_core.pyi
Due: none

fix: correctly set type check and editor config
  .editorconfig
  .pre-commit-config.yaml
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/_strategies.py
  src/openllm/bundle/oci/Dockerfile
  src/openllm/bundle/oci/__init__.py
  src/openllm/cli/_factory.py
  src/openllm/cli/entrypoint.py
  src/openllm/utils/import_utils.py
  src/openllm/utils/lazy.py
Due: pyright

fix: correct EOL [skip ci]
  tools/update-config-stubs.py
  tools/write-coverage-report.py
  typings/click_option_group/__init__.pyi
  typings/click_option_group/_decorators.pyi
  typings/click_option_group/_version.pyi
Due: pyright
