Repository bentoml/OpenLLM: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, check-models-table-update, sync-readme, changelog-dry-run, pyright

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: weekly
  skip: [check-models-table-update, changelog-dry-run, pyright, yapf, mypy, sync-readme]
  autofix_commit_msg: "ci: auto fixes from pre-commit.ci\n\nFor more information, see https://pre-commit.ci"
  autoupdate_commit_msg: 'ci: pre-commit autoupdate [pre-commit.ci]'
default_language_version:
  python: python3.11 # NOTE: sync with .python-version-default
exclude: '.*\.(css|js|svg)$'
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.0.284'
    hooks:
      - id: ruff
        verbose: true
        args: [--exit-non-zero-on-fix, --show-fixes]
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: '2.7.2'
    hooks:
      - id: editorconfig-checker
        verbose: true
  - repo: https://github.com/econchick/interrogate
    rev: 1.5.0
    hooks:
      - id: interrogate
        verbose: true
        types: [python]
        exclude: ^(docs|tools|openllm-python/tests)
        args: [--config=pyproject.toml]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.0
    hooks:
      - id: mypy
        verbose: true
        exclude: |
          (?x)^(
              examples/.*|
              tools/.*|
              tests/.*|
              openllm-python/src/openllm/playground/.*|
              openllm-python/tests/.*|
              .github/.*|
              cz.py |
              hatch_build.py
          )$
        additional_dependencies:
          - click==8.1.3
          - peft
          - bentoml==1.1.1
          - transformers>=4.31.0
          - pandas-stubs
          - types-psutil
          - types-tabulate
          - types-PyYAML
          - types-protobuf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        verbose: true
      - id: end-of-file-fixer
        verbose: true
        exclude: |
          (?x)^(
              openllm-python/tests/models/.*
          )$
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml
  - repo: local
    hooks:
      - id: yapf
        verbose: true
        name: yapf
        entry: ./tools/yapf
        types: [python]
        language: python
        pass_filenames: false
        additional_dependencies: ['yapf==0.40.0']
      - id: check-models-table-update
        name: check if table in README.md is up-to-date
        entry: ./tools/assert-model-table-latest
        language: script
        verbose: true
        files: README.md
      - id: sync-readme
        name: sync readme with python core library
        entry: ./tools/sync-readme
        language: script
        verbose: true
        files: README.md
      - id: changelog-dry-run
        name: Running changelog dry-run
        entry: hatch run changelog
        language: system
        files: CHANGELOG.md
      - id: pyright
        name: pyright
        entry: ./tools/pyright
        types: [python]
        language: node
        pass_filenames: false
        additional_dependencies: ['pyright@1.1.317']
        verbose: true

chore(dependabot): add npm packages [skip ci]
  .github/dependabot.yml
Due: none

fix(compile): evergreen on push nightly
  .github/workflows/compile-pypi.yml
Due: none

fix: nightly url
  .github/workflows/compile-pypi.yml
Due: none

chore: comment build vllm from source and use latest release
  openllm-python/src/openllm/bundle/oci/Dockerfile
Due: none

chore(ci): add dependabot and fix vllm release container (#217)
  .github/dependabot.yml
  .github/workflows/compile-pypi.yml
  openllm-python/src/openllm/bundle/oci/Dockerfile
Due: none

feat(models): add vLLM support for Falcon
  openllm-python/src/openllm/__init__.py
  openllm-python/src/openllm/models/auto/modeling_vllm_auto.py
  openllm-python/src/openllm/models/falcon/__init__.py
  openllm-python/src/openllm/models/falcon/modeling_vllm_falcon.py
  openllm-python/src/openllm/utils/dummy_vllm_objects.py
Due: yapf, pyright

chore: update changelog and footnote
  changelog.d/223.feature.md
  openllm-python/src/openllm/models/falcon/configuration_falcon.py
Due: yapf, pyright

feat(models): add vLLM support for Falcon (#223)
  changelog.d/223.feature.md
  openllm-python/src/openllm/__init__.py
  openllm-python/src/openllm/models/auto/modeling_vllm_auto.py
  openllm-python/src/openllm/models/falcon/__init__.py
  openllm-python/src/openllm/models/falcon/configuration_falcon.py
  openllm-python/src/openllm/models/falcon/modeling_vllm_falcon.py
  openllm-python/src/openllm/utils/dummy_vllm_objects.py
Due: yapf, pyright

chore(ci): ignore clojure on some workflow
  .github/workflows/binary-releases.yml
  .github/workflows/ci.yml
  .github/workflows/compile-pypi.yml
Due: none

chore(ci): update lock files [skip ci]
  .github/workflows/auto-bot.yml
  .github/workflows/build.yml
  contrib/clojure/pnpm-lock.yaml
Due: none

fix(container): set correct PyTorch version not to override cuda wheels
  openllm-python/src/openllm/bundle/oci/Dockerfile
Due: none

chore(readme): update nightly badge [skip ci]
  README.md
Due: check-models-table-update, sync-readme

chore(readme): update nightly badge [skip ci] (#224)
  README.md
Due: check-models-table-update, sync-readme

infra: prepare for release 0.2.25 [generated] [skip ci]
  CHANGELOG.md
  changelog.d/215.feature.md
  changelog.d/223.feature.md
  changelog.d/89.feature.md
  contrib/clojure/package.json
  openllm-node/package.json
  openllm-python/CHANGELOG.md
  package.json
Due: changelog-dry-run

infra: bump to dev version of 0.2.26.dev0 [generated] [skip ci]
  contrib/clojure/package.json
  openllm-node/package.json
  package.json
Due: none

chore(gh): use setup-bentoml-action
  .github/actions/setup-repo/action.yml
  .github/workflows/binary-releases.yml
  .github/workflows/ci.yml
  .github/workflows/compile-pypi.yml
  .github/workflows/create-releases.yml
  .github/workflows/release-notes.yml
  tools/lock-actions.sh
Due: none

chore: update correct hash
  .github/workflows/binary-releases.yml
  .github/workflows/ci.yml
  .github/workflows/compile-pypi.yml
  .github/workflows/create-releases.yml
  .github/workflows/release-notes.yml
Due: none

chore(gh): use setup-bentoml-action (#230)
  .github/actions/setup-repo/action.yml
  .github/workflows/binary-releases.yml
  .github/workflows/ci.yml
  .github/workflows/compile-pypi.yml
  .github/workflows/create-releases.yml
  .github/workflows/release-notes.yml
  tools/lock-actions.sh
Due: none

fix(binary): move to correct folders when building standalone installer
  .github/workflows/binary-releases.yml
  changelog.d/228.fix.md
  openllm-python/pyoxidizer.bzl
Due: none

fix: correct path between context and working-directory
  .github/workflows/binary-releases.yml
Due: none

chore: remove leading path for windows
  .github/workflows/binary-releases.yml
Due: none

fix(binary): correct folders when building standalone installer (#228)
  .github/workflows/binary-releases.yml
  changelog.d/228.fix.md
  openllm-python/pyoxidizer.bzl
Due: none

chore: conditional commit for running jobs
  .github/README.md
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/clojure-frontend.yml
  .github/workflows/cron.yml
  tools/update-actions.sh
Due: check-models-table-update, sync-readme

chore(build): correct conditional for stoipping base container [wheel build] [binary build]
  .github/workflows/build.yml
Due: none

fix(ci): correct format and comment [wheel build] [binary build]
  .github/workflows/binary-releases.yml
  .github/workflows/build.yml
  .github/workflows/clojure-frontend.yml
  .github/workflows/compile-pypi.yml
Due: none

chore: update correct rules [wheel build] [binary build]
  .github/README.md
  .github/workflows/binary-releases.yml
  .github/workflows/build.yml
  .github/workflows/cleanup.yml
  .github/workflows/clojure-frontend.yml
  .github/workflows/compile-pypi.yml
  .github/workflows/cron.yml
  tools/lock-actions.sh
Due: check-models-table-update, sync-readme

chore: add general readme about OpenLLM CI/CD
  .github/README.md
Due: check-models-table-update, sync-readme

fix(ci): correct mypyc logic [wheel build] [binary build]
  .github/workflows/binary-releases.yml
  .github/workflows/clojure-frontend.yml
  .github/workflows/compile-pypi.yml
Due: none

chore(ci): ignore windows entirely [wheel build] [binary build]
  .github/workflows/binary-releases.yml
  .github/workflows/release-notes.yml
Due: none

fix: correct exclude [binary build]
  .github/workflows/binary-releases.yml
Due: none

chore: update DEVELOPMENT.md [skip ci]
  DEVELOPMENT.md
Due: none

chore: conditional commit for running jobs (#232)
  .github/README.md
  .github/workflows/binary-releases.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/clojure-frontend.yml
  .github/workflows/compile-pypi.yml
  .github/workflows/cron.yml
  .github/workflows/release-notes.yml
  DEVELOPMENT.md
  tools/update-actions.sh
Due: check-models-table-update, sync-readme

feat(embedding): Adding generic endpoint
  README.md
  changelog.d/227.feature.md
  openllm-python/README.md
  openllm-python/src/openllm/__init__.py
  openllm-python/src/openllm/_embeddings.py
  openllm-python/src/openllm/_llm.py
  openllm-python/src/openllm/_service.py
  openllm-python/src/openllm/_typing_compat.py
  openllm-python/src/openllm/client/runtimes/http.py
  openllm-python/src/openllm/serialisation/transformers/__init__.py
Due: yapf, check-models-table-update, sync-readme, pyright

chore: wip
  .github/workflows/build-embedding.yml
  .github/workflows/clojure-frontend.yml
  tools/run-release-action
Due: none

chore: update format and include embedding container [wheel build] [binary build]
  .github/workflows/binary-releases.yml
  .github/workflows/build-embedding.yml
  .github/workflows/build.yml
  .github/workflows/clojure-frontend.yml
  .github/workflows/compile-pypi.yml
  openllm-python/pyproject.toml
  openllm-python/src/openllm/bundle/_package.py
  openllm-python/src/openllm/utils/codegen.py
  pyproject.toml
  tools/run-release-action
Due: yapf, pyright

chore: update correct path for openllm installation during build [wheel build]
  .github/workflows/build-embedding.yml
  openllm-python/pyproject.toml
  openllm-python/src/openllm/_service.py
  pyproject.toml
Due: yapf, pyright

fix: ignore incorrect packages [wheel build]
  .github/workflows/build-embedding.yml
  .github/workflows/compile-pypi.yml
  openllm-python/pyproject.toml
Due: none

chore: update ggml auto structure
  openllm-python/src/openllm/__init__.py
  openllm-python/src/openllm/_typing_compat.py
  openllm-python/src/openllm/cli/entrypoint.py
  openllm-python/src/openllm/models/auto/__init__.py
  openllm-python/src/openllm/models/auto/modeling_ggml_auto.py
  openllm-python/src/openllm/utils/__init__.py
  openllm-python/src/openllm/utils/dummy_ggml_objects.py
  tools/update-dummy.py
Due: yapf, pyright

chore: update bento tag resolution
  .github/workflows/build-embedding.yml
  openllm-python/src/openllm/cli/_sdk.py
Due: yapf, pyright

fix(docs): rename to avoid package README.md conflict [skip ci]
  .github/INFRA.md
  DEVELOPMENT.md
Due: none
