Repository bentoml/OpenLLM: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-models-table-update, changelog-dry-run

.pre-commit-config.yaml:

# Copyright 2023 BentoML Team. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

ci:
  autoupdate_schedule: weekly
  skip: [check-models-table-update, check-models-table-update, changelog-dry-run]
exclude: '.*\.(css|js|svg)$'
repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.0.272'
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black-jupyter
        files: '/(src|tests|docs|examples|typings)/'
  - repo: https://github.com/econchick/interrogate
    rev: 1.5.0
    hooks:
      - id: interrogate
        types: [python]
        exclude: ^(docs|tools|tests)
        args: [--config=pyproject.toml]
  - repo: local
    hooks:
      - id: check-license-header
        name: check for license headers
        entry: ./tools/assert-license-headers
        language: script
        exclude_types:
          - 'markdown'
          - 'toml'
          - 'json'
          - 'text'
        exclude: |
          (?x)^(
              tools/.*|
              assets/.*|
              changelog.d/.*|
              typings/.*|
              .github/.*
          )$
      - id: check-models-table-update
        name: check if table in README.md is up-to-date
        entry: ./tools/assert-model-table-latest
        language: script
        files: README.md
      - id: changelog-dry-run
        name: Running changelog dry-run
        entry: hatch run changelog
        language: system
        files: CHANGELOG.md
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer

fix(ci): sequential chaining
  .github/workflows/create-releases.yml
Due: none

ci: signed commit on actions
  .github/actions/release.sh
  .github/workflows/create-releases.yml
  .github/workflows/release-notes.yml
Due: none

infra: prepare for release 0.1.14 [generated]
  CHANGELOG.md
  changelog.d/60.fix.md
  changelog.d/64.fix.md
  changelog.d/66.feature.md
  package.json
  src/openllm/__about__.py
Due: changelog-dry-run

infra: bump to dev version of 0.1.15.dev0 [generated]
  package.json
  src/openllm/__about__.py
Due: none

chore: remove cron for tests
  .github/workflows/ci.yml
Due: none

chore: update GIF
  assets/agent.gif
Due: none

chore: cleanup blackbar
  assets/output.gif
Due: none

fix: CLi when no models is available
  src/openllm/cli.py
Due: none

chore: fix lint issue
  typings/attr/__init__.pyi
Due: none

chore: update pre-commit.ci config
  .pre-commit-config.yaml
Due: none

chore: add changelog
  changelog.d/72.feature.md
Due: none

fix: strategies tests
  src/openllm/_strategies.py
  tests/test_strategies.py
Due: none

chore: auto-bot
  .github/workflows/auto-bot.yml
Due: none

feat: cascading resource strategies
  src/openllm/_llm.py
  src/openllm/_strategies.py
  tests/test_strategy.py
  typings/rsmiBindings.pyi
Due: none

feat: cascading resource strategies (#72)
  .github/workflows/auto-bot.yml
  src/openllm/_llm.py
  src/openllm/_strategies.py
  tests/test_strategies.py
  typings/rsmiBindings.pyi
Due: none

chore: disable building binary
  .github/workflows/binary-releases.yml
Due: none

chore(cli): add aliases for start with start-http
  src/openllm/cli.py
Due: none

fix(dolly): remove loading as pipeline
  src/openllm/models/dolly_v2/modeling_dolly_v2.py
Due: none

infra: prepare for release 0.1.15 [generated]
  CHANGELOG.md
  changelog.d/72.feature.md
  package.json
  src/openllm/__about__.py
Due: changelog-dry-run

fix(ci): remove windows packaging `if` logic
  .github/workflows/binary-releases.yml
Due: none

fix(chatglm): remove do_sample
  src/openllm/models/chatglm/modeling_chatglm.py
Due: none

fix: binary should release on tag not dev
  .github/workflows/binary-releases.yml
Due: none

infra: bump to dev version of 0.1.16.dev0 [generated]
  package.json
  src/openllm/__about__.py
Due: none

fix: binary should release on tag not dev (#76)
  .github/workflows/binary-releases.yml
Due: none

chore: update README.md
  README.md
Due: check-models-table-update

doc:update bentocloud deployment
  README.md
Due: check-models-table-update

doc: Change bentocloud and docker to h3 label
  README.md
Due: check-models-table-update

Update README.md
  README.md
Due: check-models-table-update

chore: cleanup docs
  README.md
Due: check-models-table-update

chore: fix name
  .github/workflows/auto-bot.yml
Due: none

doc: Update bentocloud deployment (#75)
  README.md
Due: check-models-table-update

infra: prepare for release 0.1.16 [generated]
  CHANGELOG.md
  package.json
  src/openllm/__about__.py
Due: changelog-dry-run

infra: bump to dev version of 0.1.17.dev0 [generated]
  package.json
  src/openllm/__about__.py
Due: none

fix(ci): outputs jobs for checkout tag on release-notes
  .github/workflows/create-releases.yml
  .github/workflows/release-notes.yml
Due: none
