Repository bentoml/OpenLLM: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, check-models-table-update, sync-readme, changelog-dry-run, pyright

yapf:
  verbose: true
  name: yapf
  entry: ./tools/yapf
  language: python
  pass_filenames: false
  additional_dependencies:
  - yapf==0.40.0

check-models-table-update:
  name: check if table in README.md is up-to-date
  entry: ./tools/assert-model-table-latest
  language: script
  verbose: true

sync-readme:
  name: sync readme with python core library
  entry: ./tools/sync-readme
  language: script
  verbose: true

changelog-dry-run:
  name: Running changelog dry-run
  entry: hatch run changelog
  language: system

pyright:
  name: pyright
  entry: ./tools/pyright
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.317
  verbose: true

chore(infra): add support for -nx within environment [skip ci]
  compile.sh
Due: none

chore: ignore blame for running yapf
  .git-blame-ignore-revs
Due: none

chore: skip yapf on ci
  .pre-commit-config.yaml
  openllm-core/src/openllm_core/utils/__init__.py
  pyproject.toml
Due: yapf, pyright

chore(infra): ignore blame for generated style
  .git-blame-ignore-revs
Due: none

feat(embeddings): Using self-hosted CPU EC2 runner
  .github/workflows/build-embedding.yml
  .github/workflows/build.yml
Due: none

fix: remove concurrency for embedding [ec2 build]
  .github/workflows/build-embedding.yml
Due: none

feat(embeddings): Using self-hosted CPU EC2 runner (#250)
  .github/workflows/build-embedding.yml
  .github/workflows/build.yml
Due: none

chore: update correct path [clojure-ui build]
  .github/workflows/clojure-frontend.yml
  DEVELOPMENT.md
  openllm-python/CHANGELOG.md
  openllm-python/README.md
Due: check-models-table-update, sync-readme, changelog-dry-run

cleanup workspace
  package.json
Due: none

chore(infra): add blam-ignore-rev for synchronize quote
  .git-blame-ignore-revs
  STYLE.md
Due: none

chore: run prettier
  .eslintrc.cjs
  .pre-commit-config.yaml
  docs/components/features/index.tsx
  docs/pages/api/og.jsx
  docs/theme.config.tsx
  hatch.toml
Due: none

fix: clojure run script
  openllm-contrib/clojure/package.json
Due: none

chore: ignore peft and fix adapter loading issue [skip ci]
  openllm-core/src/openllm_core/_configuration.py
  openllm-python/src/openllm/_llm.py
  openllm-python/src/openllm/_service.py
  openllm-python/src/openllm/models/llama/modeling_llama.py
  pyproject.toml
Due: yapf, pyright

chore: ignore peft and fix adapter loading issue (#255)
  openllm-core/src/openllm_core/_configuration.py
  openllm-python/src/openllm/_llm.py
  openllm-python/src/openllm/_service.py
  openllm-python/src/openllm/models/llama/modeling_llama.py
  pyproject.toml
Due: yapf, pyright

bootstrap landing components
  docs/next.config.mjs
  docs/package.json
  docs/pages/api/og.jsx
  docs/pages/docs/_meta.json
  docs/pages/docs/api/client.mdx
  docs/pages/docs/integrations.mdx
  docs/pages/index.mdx
  openllm-python/src/openllm/cli/entrypoint.py
  pyproject.toml
Due: yapf, pyright

chore: update external dependencies [skip ci]
  changelog.d/249.refactor.md
  hatch.toml
  openllm-core/src/openllm_core/utils/import_utils.py
  openllm-python/pyproject.toml
  tools/assert-model-table-latest.py
  tools/dependencies.py
  tools/generate-coverage.py
  tools/update-brew-tap.py
  tools/update-config-stubs.py
  tools/update-dummy.py
  tools/update-models-import.py
  tools/update-readme.py
  tools/write-coverage-report.py
  tools/yapf
Due: yapf, pyright

infra: prepare for release 0.2.27 [generated] [skip ci]
  CHANGELOG.md
  changelog.d/168.change.md
  changelog.d/191.refactor.md
  changelog.d/199.refactor.md
  changelog.d/240.feature.md
  changelog.d/249.refactor.md
  openllm-contrib/clojure/package.json
  openllm-node/package.json
  openllm-python/CHANGELOG.md
  package.json
Due: changelog-dry-run

infra: bump to dev version of 0.2.28.dev0 [generated] [skip ci]
  openllm-contrib/clojure/package.json
  openllm-node/package.json
  package.json
Due: none

infra: bump to homebrew tap release to 0.2.27 [generated] [skip ci]
  Formula/openllm.rb
Due: none

fix: correct format consistency between ruff and yapf [skip ci]
  .pre-commit-config.yaml
  pyproject.toml
Due: none

chore: update blame-ignore-rev for style changes [skip ci]
  .git-blame-ignore-revs
Due: none

feat: vllm streaming
  .pre-commit-config.yaml
  openllm-core/src/openllm_core/_typing_compat.py
  openllm-core/src/openllm_core/utils/__init__.py
  openllm-python/src/openllm/_llm.py
  openllm-python/src/openllm/_service.py
  tools/pyright
Due: yapf, pyright

chore: update changelog
  changelog.d/260.feature.md
Due: none

feat(vllm): streaming (#260)
  .pre-commit-config.yaml
  changelog.d/260.feature.md
  openllm-core/src/openllm_core/_typing_compat.py
  openllm-core/src/openllm_core/utils/__init__.py
  openllm-python/src/openllm/_llm.py
  openllm-python/src/openllm/_service.py
  tools/pyright
Due: yapf, pyright

infra: update blame ref for blank space added [skip ci]
  .git-blame-ignore-revs
Due: none

infra: remove skip pyright [skip ci]
  .pre-commit-config.yaml
Due: none

chore(build): use latest vllm [ec2 build]
  openllm-python/pyproject.toml
  openllm-python/src/openllm/bundle/oci/Dockerfile
  tools/dependencies.py
Due: yapf, pyright

chore: remove needs to build custom kernels
  .github/workflows/build.yml
  openllm-python/src/openllm/bundle/oci/Dockerfile
Due: none

Path conditions:
  yapf: any of: \.py$, but not: .*\.(css|js|svg)$
  check-models-table-update: any of: README.md, but not: .*\.(css|js|svg)$
  sync-readme: any of: README.md, but not: .*\.(css|js|svg)$
  changelog-dry-run: any of: CHANGELOG.md, but not: .*\.(css|js|svg)$
  pyright: any of: \.py$, but not: .*\.(css|js|svg)$
