Repository bentoml/OpenLLM: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-models-table-update, sync-readme, changelog-dry-run, pyright

check-models-table-update:
  name: check if table in README.md is up-to-date
  entry: ./tools/assert-model-table-latest.py
  language: script
  verbose: true

sync-readme:
  name: sync readme with python core library
  entry: ./tools/sync-readme.sh
  language: script
  verbose: true

changelog-dry-run:
  name: Running changelog dry-run
  entry: hatch run changelog
  language: system

pyright:
  name: pyright
  entry: ./tools/pyright
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.317
  verbose: true

chore(build): use latest vllm pre-built kernel (#261)
  .github/workflows/build.yml
  openllm-python/pyproject.toml
  openllm-python/src/openllm/bundle/oci/Dockerfile
  tools/dependencies.py
Due: pyright

infra: update build dependencies [clojure-ui build]
  openllm-contrib/clojure/Dockerfile
  openllm-contrib/clojure/package.json
  openllm-contrib/clojure/pnpm-lock.yaml
Due: none

infra(clojure): update build dependencies (#278)
  openllm-contrib/clojure/Dockerfile
  openllm-contrib/clojure/package.json
  openllm-contrib/clojure/pnpm-lock.yaml
Due: none

fix: persistent styling between ruff and yapf
  pyproject.toml
Due: none

refactor: initial work to _gen
  CHANGELOG.md
  openllm-client/src/openllm_client/py.typed
  openllm-core/src/openllm_core/_schema.py
  openllm-core/src/openllm_core/_typing_compat.py
  openllm-core/src/openllm_core/py.typed
  openllm-core/src/openllm_core/utils/__init__.py
  openllm-core/src/openllm_core/utils/codegen.py
  openllm-python/src/openllm/__init__.py
  openllm-python/src/openllm/_embeddings.py
  openllm-python/src/openllm/_gen.py
  openllm-python/src/openllm/_llm.py
  openllm-python/src/openllm/bundle/oci/__init__.py
  openllm-python/src/openllm/models/chatglm/modeling_chatglm.py
  openllm-python/src/openllm/models/flan_t5/modeling_flan_t5.py
  openllm-python/src/openllm/models/llama/modeling_llama.py
  openllm-python/src/openllm/models/mpt/modeling_mpt.py
  openllm-python/src/openllm/models/stablelm/modeling_stablelm.py
  openllm-python/src/openllm/serialisation/__init__.py
  openllm-python/src/openllm/serialisation/ggml.py
  openllm-python/src/openllm/serialisation/transformers/__init__.py
  openllm-python/tests/package_test.py
Due: changelog-dry-run, pyright

chore: remove ignore blame
  .git-blame-ignore-revs
Due: none

revert: "chore: remove ignore blame"
  .git-blame-ignore-revs
Due: none

infra: update to google style [skip ci]
  .git-blame-ignore-revs
Due: none

chore: remove bettertransformer
  CHANGELOG.md
  openllm-contrib/clojure/src/main/openllm/components/side_bar/model_selection/db.cljs
  openllm-core/src/openllm_core/_configuration.py
  openllm-core/src/openllm_core/_strategies.py
  openllm-core/src/openllm_core/_typing_compat.py
  openllm-core/src/openllm_core/utils/import_utils.py
  openllm-python/src/openllm/_llm.py
  openllm-python/src/openllm/_service.py
  openllm-python/src/openllm/bundle/_package.py
  openllm-python/src/openllm/cli/_factory.py
  openllm-python/src/openllm/cli/_sdk.py
  openllm-python/src/openllm/cli/entrypoint.py
  openllm-python/src/openllm/serialisation/transformers/__init__.py
  openllm-python/tests/package_test.py
  tools/update-config-stubs.py
Due: changelog-dry-run, pyright

fix: run format
  openllm-core/src/openllm_core/_configuration.py
  openllm-core/src/openllm_core/_typing_compat.py
  openllm-core/src/openllm_core/utils/__init__.py
  openllm-core/src/openllm_core/utils/import_utils.py
  openllm-python/src/openllm/__init__.py
  openllm-python/src/openllm/_embeddings.py
  openllm-python/src/openllm/_gen.py
  openllm-python/src/openllm/_llm.py
  openllm-python/src/openllm/_service.py
  openllm-python/src/openllm/bundle/_package.py
  openllm-python/src/openllm/bundle/oci/__init__.py
  openllm-python/src/openllm/cli/_factory.py
  openllm-python/src/openllm/cli/_sdk.py
  openllm-python/src/openllm/models/llama/modeling_llama.py
  openllm-python/src/openllm/serialisation/__init__.py
  openllm-python/src/openllm/serialisation/transformers/__init__.py
  tools/update-config-stubs.py
Due: pyright

Fixed weird characters over model dropdowns
  openllm-contrib/clojure/src/main/openllm/components/side_bar/model_selection/views.cljs
Due: none

fix(clojure): weird characters over model dropdowns on container (#280)
  openllm-contrib/clojure/src/main/openllm/components/side_bar/model_selection/views.cljs
Due: none

fix(ci): correct set path for auto UI build
  .github/workflows/clojure-frontend.yml
Due: none

fix: rename backend and cleanup runtime [wip]
  .github/SECURITY.md
  openllm-client/src/openllm_client/_base.py
  openllm-core/src/openllm_core/_configuration.py
  openllm-core/src/openllm_core/_typing_compat.py
  openllm-core/src/openllm_core/config/configuration_dolly_v2.py
  openllm-core/src/openllm_core/utils/__init__.py
  openllm-core/src/openllm_core/utils/codegen.py
  openllm-core/src/openllm_core/utils/import_utils.py
  openllm-python/src/openllm/_assign.py
  openllm-python/src/openllm/_llm.py
  openllm-python/src/openllm/bundle/_package.py
  openllm-python/src/openllm/cli/_factory.py
  openllm-python/src/openllm/cli/_sdk.py
  openllm-python/src/openllm/cli/entrypoint.py
  openllm-python/src/openllm/serialisation/__init__.py
  openllm-python/src/openllm/serialisation/ggml.py
  openllm-python/src/openllm/serialisation/transformers/__init__.py
  openllm-python/src/openllm/serialisation/transformers/_helpers.py
  openllm-python/src/openllm/serialisation/transformers/weights.py
  openllm-python/src/openllm/testing.py
  openllm-python/src/openllm/utils/__init__.py
  openllm-python/tests/_strategies/_configuration.py
  openllm-python/tests/conftest.py
  pyproject.toml
  tools/update-config-stubs.py
  tools/update-dummy.py
Due: pyright

refactor: update naming and envvar
  README.md
  hatch.toml
  openllm-client/src/openllm_client/_base.py
  openllm-core/src/openllm_core/_configuration.py
  openllm-core/src/openllm_core/_schema.py
  openllm-core/src/openllm_core/_typing_compat.py
  openllm-core/src/openllm_core/config/configuration_flan_t5.py
  openllm-core/src/openllm_core/config/configuration_llama.py
  openllm-core/src/openllm_core/config/configuration_opt.py
  openllm-core/src/openllm_core/utils/__init__.py
  openllm-core/src/openllm_core/utils/analytics.py
  openllm-core/src/openllm_core/utils/import_utils.py
  openllm-python/src/openllm/_assign.py
  openllm-python/src/openllm/_llm.py
  openllm-python/src/openllm/_service.py
  openllm-python/src/openllm/bundle/_package.py
  openllm-python/src/openllm/cli/_factory.py
  openllm-python/src/openllm/cli/_sdk.py
  openllm-python/src/openllm/cli/entrypoint.py
  openllm-python/src/openllm/serialisation/transformers/__init__.py
  openllm-python/tests/_strategies/_configuration.py
  openllm-python/tests/configuration_test.py
  openllm-python/tests/conftest.py
  openllm-python/tests/package_test.py
  tools/update-config-stubs.py
  tools/update-dummy.py
Due: check-models-table-update, sync-readme, pyright

chore: add breaking change notes
  changelog.d/283.breaking.md
Due: none

chore: update overload types
  openllm-python/src/openllm/_llm.py
  openllm-python/src/openllm/bundle/_package.py
Due: pyright

chore(weights): ignore gguf pattern for non GGML backend
  openllm-python/src/openllm/serialisation/transformers/weights.py
Due: pyright

chore: correct fix num_gpus to be divisble by 2
  openllm-python/src/openllm/_assign.py
Due: pyright

fix(serving): vllm distributed size (#285)
  openllm-python/src/openllm/_assign.py
  openllm-python/src/openllm/serialisation/transformers/weights.py
Due: pyright

infra: add blame rev
  .git-blame-ignore-revs
Due: none

wip
  tools/dependencies.py
Due: pyright

feat: GPTQ transformers integration
  openllm-client/pyproject.toml
  openllm-core/pyproject.toml
  openllm-core/src/openllm_core/_typing_compat.py
  openllm-core/src/openllm_core/utils/__init__.py
  openllm-core/src/openllm_core/utils/import_utils.py
  openllm-python/pyproject.toml
  openllm-python/src/openllm/_llm.py
  openllm-python/src/openllm/_quantisation.py
  openllm-python/src/openllm/_service.py
  openllm-python/src/openllm/bundle/_package.py
  openllm-python/src/openllm/cli/_factory.py
  openllm-python/src/openllm/cli/_sdk.py
  openllm-python/src/openllm/cli/entrypoint.py
  openllm-python/src/openllm/models/auto/factory.py
  openllm-python/src/openllm/serialisation/__init__.py
  openllm-python/src/openllm/serialisation/transformers/__init__.py
  openllm-python/src/openllm/serialisation/transformers/_helpers.py
  openllm-python/src/openllm/testing.py
  openllm-python/src/openllm/utils/__init__.py
  openllm-python/tests/models/conftest.py
  tools/dependencies.py
Due: pyright

fix: only load if variable is available and add changelog
  changelog.d/297.refactor.md
  openllm-python/src/openllm/cli/_factory.py
Due: pyright

chore: remove boilerplate check
  openllm-client/src/openllm_client/_base.py
  openllm-core/src/openllm_core/utils/__init__.py
  openllm-core/src/openllm_core/utils/import_utils.py
  openllm-python/src/openllm/_quantisation.py
  openllm-python/src/openllm/_service.py
  openllm-python/src/openllm/cli/entrypoint.py
  openllm-python/tests/models/conftest.py
Due: pyright

fix(gptq): use upstream integration (#297)
  changelog.d/297.refactor.md
  openllm-client/pyproject.toml
  openllm-client/src/openllm_client/_base.py
  openllm-core/pyproject.toml
  openllm-core/src/openllm_core/_typing_compat.py
  openllm-core/src/openllm_core/utils/__init__.py
  openllm-core/src/openllm_core/utils/import_utils.py
  openllm-python/pyproject.toml
  openllm-python/src/openllm/_llm.py
  openllm-python/src/openllm/_quantisation.py
  openllm-python/src/openllm/_service.py
  openllm-python/src/openllm/bundle/_package.py
  openllm-python/src/openllm/cli/_factory.py
  openllm-python/src/openllm/cli/_sdk.py
  openllm-python/src/openllm/cli/entrypoint.py
  openllm-python/src/openllm/models/auto/factory.py
  openllm-python/src/openllm/serialisation/__init__.py
  openllm-python/src/openllm/serialisation/transformers/__init__.py
  openllm-python/src/openllm/serialisation/transformers/_helpers.py
  openllm-python/src/openllm/testing.py
  openllm-python/src/openllm/utils/__init__.py
  openllm-python/tests/models/conftest.py
  tools/dependencies.py
Due: pyright

chore(readme): update README for release [generated] [skip ci]
  openllm-python/README.md
Due: check-models-table-update, sync-readme

infra: prepare for release 0.3.0 [generated] [skip ci]
  CHANGELOG.md
  changelog.d/260.feature.md
  changelog.d/283.breaking.md
  changelog.d/297.refactor.md
  openllm-contrib/clojure/package.json
  openllm-node/package.json
  openllm-python/CHANGELOG.md
  package.json
Due: changelog-dry-run

infra: bump to dev version of 0.3.1.dev0 [generated] [skip ci]
  openllm-contrib/clojure/package.json
  openllm-node/package.json
  package.json
Due: none

infra: bump to homebrew tap release to 0.3.0 [generated] [skip ci]
  Formula/openllm.rb
Due: none

chore: only add bentomodel branch during generated service with OpenLLM
  openllm-python/src/openllm/_llm.py
  wheels.sh
Due: pyright

Update the readme
  README.md
Due: check-models-table-update, sync-readme

fix type
  README.md
Due: check-models-table-update, sync-readme

Path conditions:
  check-models-table-update: any of: README.md, but not: .*\.(css|js|svg)$
  sync-readme: any of: README.md, but not: .*\.(css|js|svg)$
  changelog-dry-run: any of: CHANGELOG.md, but not: .*\.(css|js|svg)$
  pyright: any of: \.py$, but not: .*\.(css|js|svg)$
