Repository bentoml/OpenLLM: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, check-models-table-update, changelog-dry-run

pyright:
  name: pyright
  entry: ./tools/pyright
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.317
  verbose: true

check-models-table-update:
  name: check if table in README.md is up-to-date
  entry: ./tools/assert-model-table-latest
  language: script

changelog-dry-run:
  name: Running changelog dry-run
  entry: hatch run changelog
  language: system

fix(ci): make sure to run publish and dev prep correctly
  .github/workflows/create-releases.yml
Due: none

fix(llama): loose requirements for running llama in container
  src/openllm/models/llama/configuration_llama.py
Due: pyright

fix(script): correct patch version for __about__.py
  .github/actions/release.sh
Due: none

infra: prepare for release 0.2.1 [generated]
  CHANGELOG.md
  package.json
  src/openllm/__about__.py
Due: pyright, changelog-dry-run

infra: bump to dev version of 0.2.2.dev0 [generated]
  package.json
  src/openllm/__about__.py
Due: pyright

feat: fine-tuning script for LlaMA 2
  pyproject.toml
  src/openllm/_llm.py
  src/openllm/cli.py
  src/openllm/models/llama/configuration_llama.py
  src/openllm/playground/_meta.yml
  src/openllm/playground/falcon_tuned.py
  src/openllm/playground/llama_qlora.py
  src/openllm/playground/opt_tuned.py
  src/openllm/utils/codegen.py
Due: pyright

chore: rename to llama2 script
  src/openllm/playground/_meta.yml
  src/openllm/playground/llama2_qlora.py
  tools/add-license-headers
Due: pyright

feat: fine-tuning script for LlaMA 2 (#128)
  pyproject.toml
  src/openllm/_llm.py
  src/openllm/cli.py
  src/openllm/models/llama/configuration_llama.py
  src/openllm/playground/_meta.yml
  src/openllm/playground/falcon_tuned.py
  src/openllm/playground/llama2_qlora.py
  src/openllm/playground/opt_tuned.py
  src/openllm/utils/codegen.py
  tools/add-license-headers
Due: pyright

infra: prepare for release 0.2.2 [generated]
  CHANGELOG.md
  package.json
  src/openllm/__about__.py
Due: pyright, changelog-dry-run

infra: bump to dev version of 0.2.3.dev0 [generated]
  package.json
  src/openllm/__about__.py
Due: pyright

ci: use tokens for now
  .github/workflows/create-releases.yml
Due: none

ci: using tokens for publishing (#129)
  .github/workflows/create-releases.yml
Due: none

fix(ft): correct set epochs args for TrainingArguments
  src/openllm/playground/llama2_qlora.py
Due: pyright

chore(playground): generate default dir to not set
  src/openllm/cli.py
Due: pyright

fix(build): remove configuration from labels
  src/openllm/bundle/_package.py
  src/openllm/cli.py
Due: pyright

revert: include configuration to labels
  src/openllm/bundle/_package.py
Due: pyright

infra: prepare for release 0.2.3 [generated]
  CHANGELOG.md
  package.json
  src/openllm/__about__.py
Due: pyright, changelog-dry-run

infra: bump to dev version of 0.2.4.dev0 [generated]
  package.json
  src/openllm/__about__.py
Due: pyright

fix(ci): remove unecessary semver check for release notes [skip ci]
  .github/actions/create_release_and_archive.sh
  .github/workflows/create-releases.yml
Due: none

fix(cuda): support loading in single GPU
  pyproject.toml
  src/openllm/_llm.py
  src/openllm/bundle/_package.py
  src/openllm/cli.py
  src/openllm/models/baichuan/modeling_baichuan.py
  src/openllm/models/chatglm/modeling_chatglm.py
  src/openllm/models/falcon/modeling_falcon.py
  src/openllm/models/flan_t5/modeling_flan_t5.py
  src/openllm/models/gpt_neox/modeling_gpt_neox.py
  src/openllm/models/llama/modeling_llama.py
  src/openllm/models/mpt/modeling_mpt.py
  src/openllm/models/opt/modeling_opt.py
  src/openllm/models/stablelm/modeling_stablelm.py
  src/openllm/serialisation/transformers.py
  src/openllm/utils/__init__.py
  src/openllm/utils/dantic.py
  tests/models/conftest.py
  tools/dependencies.py
Due: pyright

infra: prepare for release 0.2.4 [generated]
  CHANGELOG.md
  package.json
  src/openllm/__about__.py
Due: pyright, changelog-dry-run

infra: bump to dev version of 0.2.5.dev0 [generated]
  package.json
  src/openllm/__about__.py
Due: pyright

fix(ci): skip running actions on generated commit
  .github/actions/release.sh
  .github/workflows/create-releases.yml
  .github/workflows/release-notes.yml
Due: none

feat(cli): query with per request instruction
  src/openllm/cli.py
  src/openllm/models/llama/modeling_llama.py
  src/openllm/utils/dantic.py
Due: pyright

fix: correct import unquantized weights
  src/openllm/playground/llama2_qlora.py
Due: pyright

chore: add changelog [skip ci]
  changelog.d/130.feature.md
Due: none

feat(cli): query with per request instruction (#130)
  changelog.d/130.feature.md
  src/openllm/cli.py
  src/openllm/models/llama/modeling_llama.py
  src/openllm/playground/llama2_qlora.py
  src/openllm/utils/dantic.py
Due: pyright

infra: prepare for release 0.2.5 [generated] [skip ci]
  CHANGELOG.md
  changelog.d/130.feature.md
  package.json
  src/openllm/__about__.py
Due: pyright, changelog-dry-run

infra: bump to dev version of 0.2.6.dev0 [generated] [skip ci]
  package.json
  src/openllm/__about__.py
Due: pyright

chore(ci): simplify bump dev workflow [skip ci]
  .github/workflows/release-notes.yml
Due: none

fix(ft): set report_to none to avoid wandb setup
  src/openllm/playground/llama2_qlora.py
Due: pyright

chore: move next dev cycle to top level independent of release-notes
  .github/workflows/create-releases.yml
  .github/workflows/release-notes.yml
Due: none

chore(ci): better release flow (#131)
  .github/workflows/create-releases.yml
  .github/workflows/release-notes.yml
Due: none

chore(configuration): remove unused call
  src/openllm/_configuration.py
Due: pyright

perf(serialisation): implemen wrapper for shared attrs parsing
  src/openllm/_llm.py
  src/openllm/models/baichuan/modeling_baichuan.py
  src/openllm/models/chatglm/modeling_chatglm.py
  src/openllm/models/dolly_v2/modeling_dolly_v2.py
  src/openllm/models/falcon/modeling_falcon.py
  src/openllm/models/flan_t5/modeling_flan_t5.py
  src/openllm/models/gpt_neox/modeling_gpt_neox.py
  src/openllm/models/llama/modeling_llama.py
  src/openllm/models/llama/modeling_vllm_llama.py
  src/openllm/models/mpt/modeling_mpt.py
  src/openllm/models/opt/modeling_opt.py
  src/openllm/models/stablelm/modeling_stablelm.py
  src/openllm/models/starcoder/modeling_starcoder.py
  src/openllm/serialisation/__init__.py
  src/openllm/serialisation/ggml.py
  src/openllm/serialisation/transformers.py
Due: pyright

chore(infra): add changelog [skip ci]
  changelog.d/132.breaking.md
Due: none

chore(types): add stubs for Runner
  src/openllm/_llm.py
Due: pyright

perf(serialisation): implement wrapper to reduce callstack (#132)
  changelog.d/132.breaking.md
  src/openllm/_llm.py
  src/openllm/models/baichuan/modeling_baichuan.py
  src/openllm/models/chatglm/modeling_chatglm.py
  src/openllm/models/dolly_v2/modeling_dolly_v2.py
  src/openllm/models/falcon/modeling_falcon.py
  src/openllm/models/flan_t5/modeling_flan_t5.py
  src/openllm/models/gpt_neox/modeling_gpt_neox.py
  src/openllm/models/llama/modeling_llama.py
  src/openllm/models/llama/modeling_vllm_llama.py
  src/openllm/models/mpt/modeling_mpt.py
  src/openllm/models/opt/modeling_opt.py
  src/openllm/models/stablelm/modeling_stablelm.py
  src/openllm/models/starcoder/modeling_starcoder.py
  src/openllm/serialisation/__init__.py
  src/openllm/serialisation/ggml.py
  src/openllm/serialisation/transformers.py
Due: pyright

infra: prepare for release 0.2.6 [generated] [skip ci]
  CHANGELOG.md
  changelog.d/132.breaking.md
  package.json
  src/openllm/__about__.py
Due: pyright, changelog-dry-run

infra: bump to dev version of 0.2.7.dev0 [generated] [skip ci]
  package.json
  src/openllm/__about__.py
Due: pyright

Path conditions:
  pyright: any of: \.py$, but not: .*\.(css|js|svg)$
  check-models-table-update: any of: README.md, but not: .*\.(css|js|svg)$
  changelog-dry-run: any of: CHANGELOG.md, but not: .*\.(css|js|svg)$
