Repository bentoml/OpenLLM: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-models-table-update, changelog-dry-run, pyright

.pre-commit-config.yaml:

# Copyright 2023 BentoML Team. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

ci:
  autoupdate_schedule: weekly
  skip: [check-models-table-update, check-models-table-update, changelog-dry-run, pyright, mypy]
  autofix_commit_msg: "ci: auto fixes from pre-commit.ci\n\nFor more information, see https://pre-commit.ci"
  autoupdate_commit_msg: 'ci: pre-commit autoupdate [pre-commit.ci]'
  autofix_prs: false
exclude: '.*\.(css|js|svg)$'
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.0.282'
    hooks:
      - id: ruff
        verbose: true
        args: [--exit-non-zero-on-fix, --show-fixes]
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: '2.7.2'
    hooks:
      - id: editorconfig-checker
        verbose: true
  - repo: https://github.com/econchick/interrogate
    rev: 1.5.0
    hooks:
      - id: interrogate
        verbose: true
        types: [python]
        exclude: ^(docs|tools|tests)
        args: [--config=pyproject.toml]
  - repo: https://github.com/google/yapf
    rev: v0.40.0
    hooks:
      - id: yapf
        verbose: true
        types: [python]
        args: [--parallel, --recursive, -i]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
      - id: mypy
        verbose: true
        exclude: |
          (?x)^(
              examples/.*|
              tools/.*|
              tests/.*|
              src/openllm/playground/.*|
              .github/.*
          )$
        additional_dependencies:
          - click==8.1.3
          - peft
          - bentoml==1.1.1
          - transformers>=4.31.0
          - pandas-stubs
          - types-psutil
          - types-tabulate
          - types-PyYAML
          - types-protobuf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        verbose: true
      - id: end-of-file-fixer
        verbose: true
        exclude: |
          (?x)^(
              tests/models/.*
          )$
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml
  - repo: local
    hooks:
      - id: check-license-header
        name: check for license headers
        entry: ./tools/assert-license-headers
        language: script
        verbose: true
        exclude_types:
          - 'markdown'
          - 'toml'
          - 'json'
          - 'text'
        exclude: |
          (?x)^(
              tools/.*|
              assets/.*|
              changelog.d/.*|
              typings/.*|
              .github/.*
          )$
      - id: check-models-table-update
        name: check if table in README.md is up-to-date
        entry: ./tools/assert-model-table-latest
        language: script
        verbose: true
        files: README.md
      - id: changelog-dry-run
        name: Running changelog dry-run
        entry: hatch run changelog
        language: system
        files: CHANGELOG.md
      - id: pyright
        name: pyright
        entry: ./tools/pyright
        types: [python]
        language: node
        pass_filenames: false
        additional_dependencies: ['pyright@1.1.317']
        verbose: true

perf: compiled init and safe bytescode
  .github/workflows/ci.yml
  .github/workflows/release-notes.yml
  hatch.toml
  pyproject.toml
  src/openllm/__init__.py
  src/openllm/_configuration.py
  src/openllm/_generation.py
  src/openllm/_llm.py
  src/openllm/_quantisation.py
  src/openllm/_schema.py
  src/openllm/_strategies.py
  src/openllm/_types.py
  src/openllm/cli/_sdk.py
  src/openllm/cli/entrypoint.py
  src/openllm/models/__init__.py
  src/openllm/models/gpt_neox/__init__.py
  src/openllm/models/llama/configuration_llama.py
  src/openllm/playground/llama2_qlora.py
  src/openllm/serialisation/transformers/__init__.py
  src/openllm/testing.py
  src/openllm/utils/__init__.py
  src/openllm/utils/analytics.py
  src/openllm/utils/codegen.py
  src/openllm/utils/import_utils.py
  src/openllm/utils/lazy.py
  tools/update-init-import.py
  tools/update-models-import.py
Due: pyright

chore: correct set working-directory for dist download [skip ci]
  .github/workflows/compile-pypi.yml
  .github/workflows/create-releases.yml
Due: none

chore(docs): add instruction for compiled module development [skip ci]
  DEVELOPMENT.md
  clean.sh
  compile.sh
  hatch.toml
Due: none

feat(build): notes on compiled wheels for Bento
  clean.sh
  compile.sh
  pyproject.toml
  src/openllm/__init__.py
  src/openllm/cli/_sdk.py
  src/openllm/cli/entrypoint.py
  tools/add-license-headers
  tools/dependencies.py
  tools/generate-coverage.py
  tools/update-brew-tap.py
  tools/update-config-stubs.py
  tools/update-models-import.py
  tools/update-readme.py
  tools/write-coverage-report.py
Due: pyright

fix: remove invalid token on dispatch [skip ci]
  .github/workflows/compile-pypi.yml
Due: none

fix(ci): running test tap [skip ci]
  .github/workflows/ci.yml
Due: none

infra: prepare for release 0.2.18 [generated] [skip ci]
  CHANGELOG.md
  changelog.d/189.change.md
  changelog.d/190.feature.md
  package.json
  src/openllm_js/package.json
Due: changelog-dry-run

infra: bump to dev version of 0.2.19.dev0 [generated] [skip ci]
  package.json
  src/openllm_js/package.json
Due: none

fix(ci): fix correct target path for release wheels
  .github/workflows/compile-pypi.yml
  .github/workflows/create-releases.yml
  .github/workflows/release-notes.yml
Due: none

infra: update brew tap to 0.2.18 release [generated] [skip ci]
  Formula/openllm.rb
Due: none

chore: ignore generated formula [skip ci]
  .gitattributes
Due: none

fix: release compiled wheels and 0.2.18 tap (#193)
  .gitattributes
  .github/workflows/compile-pypi.yml
  .github/workflows/create-releases.yml
  .github/workflows/release-notes.yml
  Formula/openllm.rb
Due: none

infra: prepare for release 0.2.19 [generated] [skip ci]
  CHANGELOG.md
  package.json
  src/openllm_js/package.json
Due: changelog-dry-run

infra: bump to dev version of 0.2.20.dev0 [generated] [skip ci]
  package.json
  src/openllm_js/package.json
Due: none

fix(compile): absolute import for compiled wheels
  src/openllm/__init__.py
Due: pyright

fix: update dependencies with brew tap
  .github/workflows/create-releases.yml
Due: none

infra: prepare for release 0.2.20 [generated] [skip ci]
  CHANGELOG.md
  package.json
  src/openllm_js/package.json
Due: changelog-dry-run

infra: bump to dev version of 0.2.21.dev0 [generated] [skip ci]
  package.json
  src/openllm_js/package.json
Due: none

infra: bump to homebrew tap release to 0.2.20 [generated] [skip ci]
  Formula/openllm.rb
Due: none

fix(loading): make sure not to load to cuda with kbit quantisation
  compile.sh
  src/openllm/_llm.py
  src/openllm/_schema.py
  src/openllm/_service.py
Due: pyright

fix(release): fix exclude options within compiled wheels
  pyproject.toml
Due: none

feat(node): add node library
  .github/actions/release.sh
  .github/workflows/create-releases.yml
  DEVELOPMENT.md
  package.json
  src/openllm-node/package.json
  src/openllm-node/src/index.ts
  src/openllm-node/tsconfig.cjs.json
  src/openllm-node/tsconfig.json
  src/openllm_js/package.json
  src/openllm_js/tsconfig.json
Due: none

chore: prepare for release [skip ci]
  changelog.d/197.fix.md
  pyproject.toml
  src/openllm-node/package.json
  src/openllm-node/src/index.ts
  src/openllm/__init__.py
  src/openllm/client.py
  src/openllm_client/runtimes/__init__.py
  tools/add-license-headers
  tools/update-init-import.py
Due: pyright

fix(embeddings): correct imports
  src/openllm/models/chatglm/modeling_chatglm.py
  src/openllm/models/flan_t5/modeling_flan_t5.py
  src/openllm/models/llama/modeling_llama.py
Due: pyright

fix(release): fix exclude options within compiled wheels (#197)
  pyproject.toml
Due: none

chore: update changelog [skip ci]
  changelog.d/197.fix.md
  changelog.d/199.refactor.md
Due: none

infra: migrate to initial `openllm-node` library (#199)
  .github/actions/release.sh
  .github/workflows/create-releases.yml
  DEVELOPMENT.md
  changelog.d/197.fix.md
  changelog.d/199.refactor.md
  package.json
  pyproject.toml
  src/openllm-node/package.json
  src/openllm-node/src/index.ts
  src/openllm-node/tsconfig.cjs.json
  src/openllm-node/tsconfig.json
  src/openllm/__init__.py
  src/openllm/client.py
  src/openllm_client/runtimes/__init__.py
  src/openllm_js/package.json
  src/openllm_js/tsconfig.json
  tools/add-license-headers
  tools/update-init-import.py
Due: pyright

perf: add compiled for serialisation
  changelog.d/200.change.md
  pyproject.toml
  src/openllm/_generation.py
  src/openllm/_quantisation.py
  src/openllm/serialisation/__init__.py
  src/openllm/serialisation/constants.py
  src/openllm/serialisation/ggml.py
  src/openllm/serialisation/transformers/__init__.py
  src/openllm/serialisation/transformers/weights.py
  tests/compiled_test.py
Due: pyright

infra(test): add compiled tests
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/actions/create_release_and_archive.sh
  .github/actions/release.sh
  .github/actions/setup-repo/action.yml
  .github/workflows/auto-bot.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/compile-pypi.yml
  .github/workflows/create-releases.yml
  .github/workflows/release-notes.yml
Due: none

infra: ignore PYI002 [skip ci]
  .github/workflows/ci.yml
  pyproject.toml
Due: none

fix(infra): typo [skip ci]
  .github/workflows/ci.yml
Due: none

infra: prepare for release 0.2.21 [generated] [skip ci]
  CHANGELOG.md
  changelog.d/197.fix.md
  changelog.d/200.change.md
  package.json
  src/openllm-node/package.json
Due: changelog-dry-run

infra: bump to dev version of 0.2.22.dev0 [generated] [skip ci]
  package.json
  src/openllm-node/package.json
Due: none

infra: bump to homebrew tap release to 0.2.21 [generated] [skip ci]
  Formula/openllm.rb
Due: none

fix(client): include openllm.client into main module [skip ci]
  .github/workflows/build.yml
  DEVELOPMENT.md
  pyproject.toml
  src/openllm/cli/entrypoint.py
  src/openllm/client.py
  src/openllm/client/__init__.py
  src/openllm/client/runtimes/__init__.py
  src/openllm/client/runtimes/base.py
  src/openllm/client/runtimes/grpc.py
  src/openllm/client/runtimes/http.py
  tests/models/conftest.py
Due: pyright

infra: prepare for release 0.2.22 [generated] [skip ci]
  CHANGELOG.md
  package.json
  src/openllm-node/package.json
Due: changelog-dry-run
