Repository bentoml/OpenLLM: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, check-models-table-update, changelog-dry-run

.pre-commit-config.yaml:

# Copyright 2023 BentoML Team. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

ci:
  autoupdate_schedule: weekly
  skip: [check-models-table-update, check-models-table-update, changelog-dry-run, pyright, mypy]
  autofix_commit_msg: "ci: auto fixes from pre-commit.ci\n\nFor more information, see https://pre-commit.ci"
  autoupdate_commit_msg: 'ci: pre-commit autoupdate [pre-commit.ci]'
exclude: '.*\.(css|js|svg)$'
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.0.278'
    hooks:
      - id: ruff
        args: [--exit-non-zero-on-fix, --show-fixes]
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/econchick/interrogate
    rev: 1.5.0
    hooks:
      - id: interrogate
        types: [python]
        exclude: ^(docs|tools|tests)
        args: [--config=pyproject.toml]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: ./tools/mypy
        'types_or': [python, pyi]
        language: python
        pass_filenames: false
        verbose: true
        exclude: |
          (?x)^(
              examples/.*|
              tools/.*|
              tests/.*|
              src/openllm/playground/.*|
              src/openllm/models/.*|
              .github/.*
          )$
        additional_dependencies: ["mypy==1.4.1", "types-tabulate", "types-Deprecated", "types-PyYAML", "types-decorator", "types-protobuf", "types-python-dateutil", "types-requests", "types-setuptools", "types-six", "types-ujson", "pandas-stubs", "types-Pillow", "types-Pygments", "types-appdirs", "types-colorama", "types-google-cloud-ndb", "types-jsonschema", "types-psutil", "types-pywin32", "types-tqdm", "types-openpyxl"]
      - id: pyright
        name: pyright
        entry: ./tools/pyright
        types: [python]
        language: node
        pass_filenames: false
        additional_dependencies: ['pyright@1.1.317']
        verbose: true
      - id: check-license-header
        name: check for license headers
        entry: ./tools/assert-license-headers
        language: script
        exclude_types:
          - 'markdown'
          - 'toml'
          - 'json'
          - 'text'
        exclude: |
          (?x)^(
              tools/.*|
              assets/.*|
              changelog.d/.*|
              typings/.*|
              .github/.*
          )$
      - id: check-models-table-update
        name: check if table in README.md is up-to-date
        entry: ./tools/assert-model-table-latest
        language: script
        files: README.md
      - id: changelog-dry-run
        name: Running changelog dry-run
        entry: hatch run changelog
        language: system
        files: CHANGELOG.md
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              tests/models/.*
          )$
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml

fix: install xformers for vllm ray runner
  src/openllm/bundle/oci/Dockerfile
Due: none

fix: invalid attribute in llm_config
  src/openllm/cli/_factory.py
Due: pyright

fix: more explicit error when initialising vllm
  src/openllm/_llm.py
Due: pyright

fix: checking intialisation after model conversion
  src/openllm/serialisation/transformers/__init__.py
Due: pyright

chore: add changelog [skip ci]
  changelog.d/185.change.md
Due: none

fix: disable prompt for llama
  src/openllm/models/llama/modeling_llama.py
Due: pyright

fix(models): setup xformers and loading PyTorch meta weights (#185)
  changelog.d/185.change.md
  src/openllm/_llm.py
  src/openllm/bundle/oci/Dockerfile
  src/openllm/cli/_factory.py
  src/openllm/models/llama/modeling_llama.py
  src/openllm/serialisation/transformers/__init__.py
Due: pyright

init --wip--
  src/openllm/_llm.py
Due: pyright

chore(generation): initial work for generating tokens
  src/openllm/__init__.py
  src/openllm/_configuration.py
  src/openllm/_generation.py
  src/openllm/_llm.py
  src/openllm/models/falcon/modeling_falcon.py
  src/openllm/models/gpt_neox/modeling_gpt_neox.py
  src/openllm/models/llama/configuration_llama.py
  src/openllm/models/llama/modeling_llama.py
  src/openllm/models/stablelm/modeling_stablelm.py
  src/openllm/models/starcoder/modeling_starcoder.py
  src/openllm/serialisation/__init__.py
  src/openllm/serialisation/transformers/_helpers.py
  src/openllm/serialisation/transformers/weights.py
  tools/update-config-stubs.py
Due: pyright

chore(ci): switch to prod account for more availability
  .github/workflows/build.yml
Due: none

fix: correct set secret-access-key
  .github/workflows/build.yml
Due: none

fix: update AMI to use gp2
  .github/workflows/build.yml
Due: none

chore(binary): rename [skip ci]
  .github/workflows/binary-releases.yml
  src/openllm/bundle/oci/Dockerfile
Due: none

feat(generation): initial work for generating tokens (#186)
  .github/workflows/binary-releases.yml
  .github/workflows/build.yml
  src/openllm/__init__.py
  src/openllm/_configuration.py
  src/openllm/_generation.py
  src/openllm/_llm.py
  src/openllm/bundle/oci/Dockerfile
  src/openllm/models/falcon/modeling_falcon.py
  src/openllm/models/gpt_neox/modeling_gpt_neox.py
  src/openllm/models/llama/configuration_llama.py
  src/openllm/models/llama/modeling_llama.py
  src/openllm/models/stablelm/modeling_stablelm.py
  src/openllm/models/starcoder/modeling_starcoder.py
  src/openllm/serialisation/__init__.py
  src/openllm/serialisation/transformers/_helpers.py
  src/openllm/serialisation/transformers/weights.py
  tools/update-config-stubs.py
Due: pyright

fix: loading models within k8s API server
  src/openllm/_llm.py
  src/openllm/bundle/_package.py
Due: pyright

chore: print stack when DEBUG is enabled
  src/openllm/_llm.py
Due: pyright

chore: remove force push
  src/openllm/cli/entrypoint.py
Due: pyright

feat: --force-push to allow force push to bentocloud (#188)
  src/openllm/_llm.py
  src/openllm/cli/entrypoint.py
Due: pyright

infra: prepare for release 0.2.17 [generated] [skip ci]
  CHANGELOG.md
  changelog.d/183.feature.md
  changelog.d/185.change.md
  package.json
  src/openllm_js/package.json
Due: changelog-dry-run

infra: bump to dev version of 0.2.18.dev0 [generated] [skip ci]
  package.json
  src/openllm_js/package.json
Due: none

--wip--
  Formula/README.md
  Formula/openllm.rb
  Formula/openllm.rb.template
  hatch.toml
  pyproject.toml
  src/openllm/bundle/oci/__init__.py
  tools/dependencies.py
  tools/update-brew-tap.py
Due: pyright, check-models-table-update

fix: --wip--
  Formula/openllm.rb.j2
  tools/update-brew-tap.py
Due: pyright

feat(strategy): only spawn up one runner
  src/openllm/_strategies.py
  src/openllm/bundle/_package.py
Due: pyright

chore: add changelog
  changelog.d/189.change.md
Due: none

chore: update tests
  tests/strategies_test.py
Due: pyright

feat(strategy): spawn one runner instance (#189)
  changelog.d/189.change.md
  src/openllm/_strategies.py
  src/openllm/bundle/_package.py
  tests/strategies_test.py
Due: pyright

Create Dockerfile
  contrib/clojure-ui/Dockerfile
Due: none

fix(build): set legacy serialisation for vllm on Bento
  src/openllm/bundle/_package.py
Due: pyright

fix(loading): make sure to cast the model to cuda if PyTorch
  src/openllm/_llm.py
  src/openllm/models/gpt_neox/modeling_gpt_neox.py
  src/openllm/models/opt/modeling_opt.py
  src/openllm/serialisation/transformers/__init__.py
Due: pyright

feat: add homebrew tap
  .github/workflows/create-releases.yml
  Formula/openllm.rb
  Formula/openllm.rb.j2
  tools/update-brew-tap.py
Due: pyright

chore: update token and description for formula
  .github/workflows/create-releases.yml
  Formula/openllm.rb
  Formula/openllm.rb.j2
Due: none

chore: add changelog [skip ci]
  changelog.d/190.feature.md
Due: none

feat: homebrew tap (#190)
  .github/workflows/create-releases.yml
  Formula/README.md
  Formula/openllm.rb
  Formula/openllm.rb.j2
  changelog.d/190.feature.md
  hatch.toml
  pyproject.toml
  src/openllm/bundle/oci/__init__.py
  tools/dependencies.py
  tools/update-brew-tap.py
Due: pyright, check-models-table-update

fix(brew): set correct url for release
  Formula/openllm.rb
  tools/update-brew-tap.py
Due: pyright

chore(ci): running pyright last
  .pre-commit-config.yaml
Due: none

fix(brew): specific installation from gzip [skip ci]
  Formula/openllm.rb
  Formula/openllm.rb.j2
  tools/update-brew-tap.py
Due: pyright

refactor(cli): update extension format and organisation
  hatch.toml
  pyproject.toml
  src/openllm/__init__.py
  src/openllm/cli/entrypoint.py
  src/openllm/cli/ext/list_bentos.py
  src/openllm/cli/extension/__init__.py
  src/openllm/cli/extension/build_base_container.py
  src/openllm/cli/extension/dive_bentos.py
  src/openllm/cli/extension/get_containerfile.py
  src/openllm/cli/extension/get_prompt.py
  src/openllm/cli/extension/list_bentos.py
  src/openllm/cli/extension/list_models.py
  src/openllm/cli/extension/playground.py
  tools/dependencies.py
  tools/update-brew-tap.py
Due: pyright

feat: enable compiled wheels
  .github/workflows/compile-pypi.yml
  .github/workflows/create-releases.yml
  .pre-commit-config.yaml
  hatch.toml
  loc.py
  pyproject.toml
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/_strategies.py
  src/openllm/bundle/oci/__init__.py
  src/openllm/cli/entrypoint.py
Due: pyright

chore: remove windows compiled wheels
  .github/workflows/compile-pypi.yml
  .github/workflows/create-releases.yml
  .pre-commit-config.yaml
  changelog.d/191.refactor.md
  hatch.toml
  pyproject.toml
  src/openllm/__init__.py
  src/openllm/_configuration.py
  src/openllm/utils/import_utils.py
  src/openllm/utils/lazy.py
  tools/yapf
Due: pyright

chore: skip mypy on CI
  .pre-commit-config.yaml
  hatch.toml
  pyproject.toml
Due: none
