Repository bentoml/OpenLLM: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, check-models-table-update, changelog-dry-run

.pre-commit-config.yaml:

# Copyright 2023 BentoML Team. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

ci:
  autoupdate_schedule: weekly
  skip: [check-models-table-update, check-models-table-update, changelog-dry-run, pyright, mypy]
  autofix_commit_msg: "ci: auto fixes from pre-commit.ci\n\nFor more information, see https://pre-commit.ci"
  autoupdate_commit_msg: 'ci: pre-commit autoupdate [pre-commit.ci]'
exclude: '.*\.(css|js|svg)$'
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.0.278'
    hooks:
      - id: ruff
        args: [--exit-non-zero-on-fix, --show-fixes]
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/econchick/interrogate
    rev: 1.5.0
    hooks:
      - id: interrogate
        types: [python]
        exclude: ^(docs|tools|tests)
        args: [--config=pyproject.toml]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: ./tools/mypy
        'types_or': [python, pyi]
        language: python
        pass_filenames: false
        verbose: true
        exclude: |
          (?x)^(
              examples/.*|
              tools/.*|
              tests/.*|
              src/openllm/playground/.*|
              src/openllm/models/.*|
              .github/.*
          )$
        additional_dependencies: ["mypy==1.4.1", "types-tabulate", "types-Deprecated", "types-PyYAML", "types-decorator", "types-protobuf", "types-python-dateutil", "types-requests", "types-setuptools", "types-six", "types-ujson", "pandas-stubs", "types-Pillow", "types-Pygments", "types-appdirs", "types-colorama", "types-google-cloud-ndb", "types-jsonschema", "types-psutil", "types-pywin32", "types-tqdm", "types-openpyxl"]
      - id: pyright
        name: pyright
        entry: ./tools/pyright
        types: [python]
        language: node
        pass_filenames: false
        additional_dependencies: ['pyright@1.1.317']
        verbose: true
      - id: check-license-header
        name: check for license headers
        entry: ./tools/assert-license-headers
        language: script
        exclude_types:
          - 'markdown'
          - 'toml'
          - 'json'
          - 'text'
        exclude: |
          (?x)^(
              tools/.*|
              assets/.*|
              changelog.d/.*|
              typings/.*|
              .github/.*
          )$
      - id: check-models-table-update
        name: check if table in README.md is up-to-date
        entry: ./tools/assert-model-table-latest
        language: script
        files: README.md
      - id: changelog-dry-run
        name: Running changelog dry-run
        entry: hatch run changelog
        language: system
        files: CHANGELOG.md
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              tests/models/.*
          )$
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml

Refactor app-db: side-bar
  contrib/clojure-ui/src/main/openllm/components/db.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/db.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/events.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/subs.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/views.cljs
  contrib/clojure-ui/src/main/openllm/components/subs.cljs
  contrib/clojure-ui/src/main/openllm/db.cljs
Due: none

Add plenty of documentation & Clean up a bit
  contrib/clojure-ui/src/main/openllm/components/chat/db.cljs
  contrib/clojure-ui/src/main/openllm/components/chat/subs.cljs
  contrib/clojure-ui/src/main/openllm/components/chat/views.cljs
  contrib/clojure-ui/src/main/openllm/components/db.cljs
  contrib/clojure-ui/src/main/openllm/components/model_selection/db.cljs
  contrib/clojure-ui/src/main/openllm/components/model_selection/views.cljs
  contrib/clojure-ui/src/main/openllm/components/nav_bar/db.cljs
  contrib/clojure-ui/src/main/openllm/components/nav_bar/views.cljs
  contrib/clojure-ui/src/main/openllm/components/playground/db.cljs
  contrib/clojure-ui/src/main/openllm/components/playground/views.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/db.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/subs.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/views.cljs
  contrib/clojure-ui/src/main/openllm/components/subs.cljs
  contrib/clojure-ui/src/main/openllm/db.cljs
  contrib/clojure-ui/src/main/openllm/events.cljs
  contrib/clojure-ui/src/main/openllm/subs.cljs
  contrib/clojure-ui/src/main/openllm/util.cljs
  contrib/clojure-ui/src/main/openllm/views.cljs
Due: none

Add check-spec-interceptor to every event
  contrib/clojure-ui/src/main/openllm/components/chat/events.cljs
  contrib/clojure-ui/src/main/openllm/components/model_selection/events.cljs
  contrib/clojure-ui/src/main/openllm/components/playground/events.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/events.cljs
  contrib/clojure-ui/src/main/openllm/events.cljs
Due: none

Make model-selection child of side-bar & Adapt app-db
  contrib/clojure-ui/src/main/openllm/components/chat/views.cljs
  contrib/clojure-ui/src/main/openllm/components/db.cljs
  contrib/clojure-ui/src/main/openllm/components/playground/views.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/db.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_selection/db.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_selection/events.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_selection/subs.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_selection/views.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/subs.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/views.cljs
Due: none

Make model-params a child of side-bar & Adapt app-db
  contrib/clojure-ui/src/main/openllm/components/chat/views.cljs
  contrib/clojure-ui/src/main/openllm/components/playground/views.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/db.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/events.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_params/db.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_params/events.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_params/subs.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_params/views.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/subs.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/views.cljs
Due: none

Remove OpenLLM typography & Center tabs
  contrib/clojure-ui/src/main/openllm/components/nav_bar/views.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_params/db.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_params/views.cljs
Due: none

Fix warning on multiple root element creations
  contrib/clojure-ui/src/main/openllm/app.cljs
  contrib/clojure-ui/src/main/openllm/components/nav_bar/views.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_params/subs.cljs
Due: none

Add static parameter information
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_params/db.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_params/events.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_params/views.cljs
Due: none

Use material ui tabs
  contrib/clojure-ui/src/main/openllm/app.cljs
  contrib/clojure-ui/src/main/openllm/components/nav_bar/views.cljs
  contrib/clojure-ui/src/main/openllm/components/playground/views.cljs
Due: none

fix: cli
  src/openllm/cli.py
Due: pyright

fix(ci): editable install
  .github/workflows/ci.yml
Due: none

fix(tests): skip running models tests on CI
  tests/conftest.py
  tests/models_test.py
Due: pyright

fix: release script not to signed
  .github/actions/release.sh
Due: none

chore(llama): remove decapoda vairants
  README.md
  src/openllm/models/llama/configuration_llama.py
Due: pyright, check-models-table-update

fix(ci): remove signing
  .github/actions/release.sh
Due: none

fix(ci): disable gpg push
  .github/actions/release.sh
  .github/workflows/create-releases.yml
  .github/workflows/release-notes.yml
Due: none

fix(script): not gpg signing tag
  .github/actions/release.sh
Due: none

chore(ci): remove macos packaging
  .github/workflows/binary-releases.yml
Due: none

fix(ci): releas script correctly parse version
  .github/actions/release.sh
Due: none

infra: prepare for release 0.2.0 [generated]
  CHANGELOG.md
  changelog.d/106.feature.md
  changelog.d/107.fix.md
  changelog.d/114.fix.md
  changelog.d/115.feature.md
  package.json
  src/openllm/__about__.py
Due: pyright, changelog-dry-run

fix: broken logics for upload
  .github/workflows/create-releases.yml
Due: none

infra: bump to dev version of 0.2.1dev0 [generated]
  package.json
  src/openllm/__about__.py
Due: pyright

fix(ci): add configuration for running llama
  src/openllm/models/llama/configuration_llama.py
  src/openllm/models/llama/modeling_llama.py
  tests/configuration_test.py
  tests/models_test.py
  tests/strategies_test.py
  tools/pyright
Due: pyright

fix: correct skipif
  tests/strategies_test.py
Due: pyright

fix: CI tests
  tests/configuration_test.py
Due: pyright

chore: update table format in readme
  README.md
  tests/configuration_test.py
  tools/update-readme.py
Due: pyright, check-models-table-update

fix: readme format
  README.md
  tools/update-readme.py
Due: pyright, check-models-table-update

fix: skip 3.11 tests on TypedDict
  src/openllm/models/llama/configuration_llama.py
  tests/configuration_test.py
Due: pyright

fix: correct link for t5
  README.md
  tests/configuration_test.py
  tools/update-readme.py
Due: pyright, check-models-table-update

ci: ignore building windows installer on CI
  .github/workflows/binary-releases.yml
Due: none

feat(llama): add default prompt for LlaMA-2 (#122)
  .github/workflows/binary-releases.yml
  README.md
  src/openllm/models/llama/configuration_llama.py
  src/openllm/models/llama/modeling_llama.py
  tests/configuration_test.py
  tests/models_test.py
  tests/strategies_test.py
  tools/pyright
  tools/update-readme.py
Due: pyright, check-models-table-update

fix(ci): always run create coverage
  .github/workflows/ci.yml
Due: none

Remove icon and indicator from the tabs
  contrib/clojure-ui/src/main/openllm/components/nav_bar/views.cljs
Due: none

feat: revision parsed via model_id
  src/openllm/_llm.py
  src/openllm/cli.py
  src/openllm/models/llama/__init__.py
  src/openllm/models/llama/configuration_llama.py
  src/openllm/models/mpt/__init__.py
  src/openllm/models/mpt/configuration_mpt.py
  src/openllm/utils/import_utils.py
Due: pyright

fix: correct log
  src/openllm/_llm.py
Due: pyright

feat: revision parsed via model_id (#126)
  src/openllm/_llm.py
  src/openllm/cli.py
  src/openllm/models/llama/__init__.py
  src/openllm/models/llama/configuration_llama.py
  src/openllm/models/mpt/__init__.py
  src/openllm/models/mpt/configuration_mpt.py
  src/openllm/utils/import_utils.py
Due: pyright

fix(cli): implement latest bentoml 1.0.25 features
  pyproject.toml
  src/openllm/_strategies.py
  src/openllm/cli.py
  tools/dependencies.py
Due: pyright

fix: correct tag inference for model-id
  src/openllm/_llm.py
  src/openllm/bundle/_package.py
  src/openllm/cli.py
Due: pyright
