Repository bentoml/OpenLLM: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-header, check-models-table-update, changelog-dry-run

check-license-header:
  name: check for license headers
  entry: ./tools/assert-license-headers
  language: script

check-models-table-update:
  name: check if table in README.md is up-to-date
  entry: ./tools/assert-model-table-latest
  language: script

changelog-dry-run:
  name: Running changelog dry-run
  entry: hatch run changelog
  language: system

perf: build quantization and better transformer behaviour (#28)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  changelog.d/27.feature.md
  changelog.d/28.change.md
  src/openllm/__init__.py
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/_package.py
  src/openllm/_service.py
  src/openllm/cli.py
  src/openllm/models/auto/factory.py
  src/openllm/models/chatglm/modeling_chatglm.py
  src/openllm/models/dolly_v2/modeling_dolly_v2.py
  src/openllm/models/flan_t5/modeling_flan_t5.py
  src/openllm/models/opt/modeling_opt.py
  src/openllm/models/starcoder/modeling_starcoder.py
  src/openllm/utils/__init__.py
  src/openllm/utils/dantic.py
  src/openllm/utils/import_utils.py
  src/openllm/utils/lazy.py
  src/openllm_client/_prompt.py
  src/openllm_client/runtimes/base.py
  tests/test_configuration.py
Due: check-license-header

infra: fix generated release link for towncrier [skip ci]
  CHANGELOG.md
  changelog.d/template.md.jinja
Due: changelog-dry-run

fix(tests): ensure_available on tests
  tests/models/flan_t5/test_modeling_flan_t5.py
  tests/models/opt/test_modeling_opt.py
Due: check-license-header

wip
  pyproject.toml
  src/openllm/_llm.py
  src/openllm/_package.py
  src/openllm/_service.py
  src/openllm/cli.py
  src/openllm/utils/__init__.py
  src/openllm/utils/import_utils.py
  tools/update-optional-dependencies.py
Due: check-license-header

feat: HFAgent support via '/hf/agent'
  README.md
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/_service.py
  src/openllm/models/starcoder/modeling_starcoder.py
Due: check-license-header, check-models-table-update

chore: update readme
  README.md
Due: check-models-table-update

chore: update docs and refactor shared Criteria
  README.md
  src/openllm/_generation.py
  src/openllm/_llm.py
  src/openllm/models/starcoder/modeling_starcoder.py
Due: check-license-header, check-models-table-update

wip [skip ci]
  changelog.d/29.features.md
  pyproject.toml
  src/openllm/_configuration.py
  src/openllm/_generation.py
  src/openllm/_llm.py
  src/openllm/cli.py
  src/openllm/utils/import_utils.py
  src/openllm_client/runtimes/base.py
  tools/update-optional-dependencies.py
Due: check-license-header

chore: async support [wip]
  changelog.d/29.features.md
  src/openllm/cli.py
  src/openllm_client/runtimes/base.py
Due: check-license-header

feat: CLI --opt parsing
  src/openllm/cli.py
Due: check-license-header

fix: correct naming
  changelog.d/29.feature.md
Due: none

docs: src/openllm/_llm.py
  src/openllm/_llm.py
Due: check-license-header

chore: rename for consistency
  src/openllm/_package.py
  src/openllm/cli.py
Due: check-license-header

chore: add dependencies for sound tasks
  pyproject.toml
  tools/update-optional-dependencies.py
Due: none

integration: HuggingFace Agent (#29)
  README.md
  changelog.d/29.feature.md
  pyproject.toml
  src/openllm/_configuration.py
  src/openllm/_generation.py
  src/openllm/_llm.py
  src/openllm/_package.py
  src/openllm/_service.py
  src/openllm/cli.py
  src/openllm/models/starcoder/modeling_starcoder.py
  src/openllm/utils/__init__.py
  src/openllm/utils/import_utils.py
  src/openllm_client/runtimes/base.py
  tools/update-optional-dependencies.py
Due: check-license-header, check-models-table-update

chore(readme): update docs and warning notes
  README.md
Due: check-models-table-update

wip: union type support for click
  src/openllm/_configuration.py
  src/openllm/utils/dantic.py
Due: check-license-header

chore: add banner for OpenLLM
  README.md
  assets/main-banner.png
Due: check-license-header, check-models-table-update

fix(env): make tests with extra-dependencies
  pyproject.toml
Due: none

fix: separate hatch config
  hatch.toml
  pyproject.toml
Due: none

fix(config): __getitem__ to get the value instead of member of class
  README.md
  src/openllm/_configuration.py
Due: check-license-header, check-models-table-update

fix(log): make sure to configure OpenLLM logs correctly
  pyproject.toml
  src/openllm/cli.py
  src/openllm/models/auto/factory.py
  src/openllm/utils/__init__.py
  src/openllm/utils/lazy.py
  src/openllm_client/runtimes/base.py
  tools/update-optional-dependencies.py
  typings/click_option_group/_decorators.pyi
Due: check-license-header

fix(ci): install towncrier for changelog automation
  .github/actions/setup-repo/action.yml
Due: none

make animals still cute but a healthy weight
  assets/main-banner.png
Due: check-license-header

fix(dolly_v2): gc collect after import
  src/openllm/models/dolly_v2/modeling_dolly_v2.py
Due: check-license-header

fix(timeout): increase default timeout to avoid asyncio error
  changelog.d/29.feature.md
  src/openllm/_configuration.py
Due: check-license-header

fix: remove direct url reference
  .pre-commit-config.yaml
  README.md
  nightly-requirements.generated.txt
  pyproject.toml
  tools/update-optional-dependencies.py
Due: check-license-header, check-models-table-update

docs: update README to use OPT as example
  README.md
Due: check-models-table-update

fix(instruct): remove breakpoint
  src/openllm/cli.py
Due: check-license-header

fix(cli): use correct API for client
  src/openllm/cli.py
Due: check-license-header

fix: agent log
  src/openllm/cli.py
Due: check-license-header

chore: update change log
  changelog.d/37.change.md
Due: none

fix: agent log (#37)
  changelog.d/37.change.md
  src/openllm/cli.py
Due: check-license-header

fix(log): repr the given LLMConfig in debug mode
  src/openllm/_llm.py
Due: check-license-header

Update README.md
  README.md
Due: check-models-table-update

docs: rename camel case to official Hugging Face name (#39)
  README.md
Due: check-models-table-update

Add basic web ui proof of concept
  src/openllm_web_client/.gitignore
  src/openllm_web_client/README.md
  src/openllm_web_client/deps.edn
  src/openllm_web_client/package.json
  src/openllm_web_client/postcss.config.js
  src/openllm_web_client/public/css/main.css
  src/openllm_web_client/shadow-cljs.edn
  src/openllm_web_client/src/css/tailwind.css
  src/openllm_web_client/src/main/tailwind/app.cljs
  src/openllm_web_client/src/main/tailwind/db.cljs
  src/openllm_web_client/src/main/tailwind/events.cljs
  src/openllm_web_client/src/main/tailwind/views.cljs
  src/openllm_web_client/tailwind.config.js
  src/openllm_web_client/www/index.html
Due: check-license-header, check-models-table-update

Path conditions:
  check-license-header: any of: not (\.(md|markdown|mdown)$) and not (\.toml$) and not (\.json$) and not ((?x)^(
    tools/.*|
    changelog.d/.*|
    typings/.*|
    .github/.*
)$
) and not (.*\.(css|js|svg)$)
  check-models-table-update: any of: README.md, but not: .*\.(css|js|svg)$
  changelog-dry-run: any of: CHANGELOG.md, but not: .*\.(css|js|svg)$
