Repository bentoml/OpenLLM: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, check-models-table-update, changelog-dry-run

.pre-commit-config.yaml:

# Copyright 2023 BentoML Team. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

ci:
  autoupdate_schedule: weekly
  skip: [check-models-table-update, check-models-table-update, changelog-dry-run, pyright, mypy]
  autofix_commit_msg: "ci: auto fixes from pre-commit.ci\n\nFor more information, see https://pre-commit.ci"
  autoupdate_commit_msg: 'ci: pre-commit autoupdate [pre-commit.ci]'
exclude: '.*\.(css|js|svg)$'
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.0.278'
    hooks:
      - id: ruff
        args: [--exit-non-zero-on-fix, --show-fixes]
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/econchick/interrogate
    rev: 1.5.0
    hooks:
      - id: interrogate
        types: [python]
        exclude: ^(docs|tools|tests)
        args: [--config=pyproject.toml]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: ./tools/mypy
        'types_or': [python, pyi]
        language: python
        pass_filenames: false
        verbose: true
        exclude: |
          (?x)^(
              examples/.*|
              tools/.*|
              tests/.*|
              src/openllm/playground/.*|
              src/openllm/models/.*|
              .github/.*
          )$
        additional_dependencies: ["mypy==1.4.1", "types-tabulate", "types-Deprecated", "types-PyYAML", "types-decorator", "types-protobuf", "types-python-dateutil", "types-requests", "types-setuptools", "types-six", "types-ujson", "pandas-stubs", "types-Pillow", "types-Pygments", "types-appdirs", "types-colorama", "types-google-cloud-ndb", "types-jsonschema", "types-psutil", "types-pywin32", "types-tqdm", "types-openpyxl"]
      - id: pyright
        name: pyright
        entry: ./tools/pyright
        types: [python]
        language: node
        pass_filenames: false
        additional_dependencies: ['pyright@1.1.317']
        verbose: true
      - id: check-license-header
        name: check for license headers
        entry: ./tools/assert-license-headers
        language: script
        exclude_types:
          - 'markdown'
          - 'toml'
          - 'json'
          - 'text'
        exclude: |
          (?x)^(
              tools/.*|
              assets/.*|
              changelog.d/.*|
              typings/.*|
              .github/.*
          )$
      - id: check-models-table-update
        name: check if table in README.md is up-to-date
        entry: ./tools/assert-model-table-latest
        language: script
        files: README.md
      - id: changelog-dry-run
        name: Running changelog dry-run
        entry: hatch run changelog
        language: system
        files: CHANGELOG.md
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              tests/models/.*
          )$
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml

fix: check to make sure all tensor are initialized correctly [skip ci]
  src/openllm/serialisation/transformers.py
Due: pyright

chore: update base requirements for container base release strategy [skip ci]
  src/openllm/_types.py
  src/openllm/bundle/oci/__init__.py
  src/openllm/utils/__init__.py
  src/openllm/utils/lazy.py
Due: pyright

fix(ec2): increase subnet availability to all available zone with g5 instances
  .github/workflows/build.yml
Due: none

infra: prepare for release 0.2.12 [generated] [skip ci]
  CHANGELOG.md
  changelog.d/142.feature.md
  changelog.d/169.feature.md
  package.json
Due: changelog-dry-run

fix: pattern matching for Windows openllm binary [skip ci]
  .github/workflows/binary-releases.yml
  .github/workflows/build.yml
  .github/workflows/create-releases.yml
Due: none

infra: bump to dev version of 0.2.13.dev0 [generated] [skip ci]
  package.json
Due: none

chore(ci): filter out extension binary
  .github/workflows/binary-releases.yml
Due: none

fix(build): set local_latest
  src/openllm/bundle/_package.py
Due: pyright

revert: remove version filter
  .github/workflows/binary-releases.yml
Due: none

fix(build): dispatch container via workflow calls (#174)
  .github/workflows/binary-releases.yml
  .github/workflows/build.yml
  .github/workflows/create-releases.yml
  src/openllm/bundle/_package.py
Due: pyright

fix: custom release strategy for correct naming
  src/openllm/bundle/_package.py
  src/openllm/bundle/oci/__init__.py
Due: pyright

fix: nightly resolver for correct tag
  src/openllm/bundle/__init__.py
  src/openllm/bundle/oci/__init__.py
  src/openllm/cli/ext/get_prompt.py
Due: pyright

chore: initial ggml setup
  src/openllm/_llm.py
  src/openllm/serialisation/ggml/__init__.py
Due: pyright

fix: nightly resolver for correct tag (#177)
  src/openllm/bundle/__init__.py
  src/openllm/bundle/oci/__init__.py
  src/openllm/cli/ext/get_prompt.py
Due: pyright

chore(vllm): add all vllm supported models
  pyproject.toml
  src/openllm/__init__.py
  src/openllm/_schema.py
  src/openllm/models/auto/configuration_auto.py
  src/openllm/models/auto/modeling_vllm_auto.py
  src/openllm/models/baichuan/__init__.py
  src/openllm/models/baichuan/modeling_vllm_baichuan.py
  src/openllm/models/dolly_v2/__init__.py
  src/openllm/models/dolly_v2/modeling_dolly_v2.py
  src/openllm/models/dolly_v2/modeling_vllm_dolly_v2.py
  src/openllm/models/gpt_neox/__init__.py
  src/openllm/models/gpt_neox/modeling_vllm_gpt_neox.py
  src/openllm/models/mpt/__init__.py
  src/openllm/models/mpt/modeling_vllm_mpt.py
  src/openllm/models/stablelm/__init__.py
  src/openllm/models/stablelm/modeling_vllm_stablelm.py
  src/openllm/models/starcoder/__init__.py
  src/openllm/models/starcoder/configuration_starcoder.py
  src/openllm/models/starcoder/modeling_starcoder.py
  src/openllm/models/starcoder/modeling_vllm_starcoder.py
  src/openllm/serialisation/transformers.py
  src/openllm/utils/dummy_vllm_objects.py
Due: pyright

chore: update imports correct ruff
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/_quantisation.py
  src/openllm/serialisation/__init__.py
  src/openllm_client/runtimes/base.py
  tests/configuration_test.py
Due: pyright

chore: update to latest commit hash
  src/openllm/bundle/oci/Dockerfile
Due: none

chore(vllm): add all supported models (#179)
  pyproject.toml
  src/openllm/__init__.py
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/_quantisation.py
  src/openllm/_schema.py
  src/openllm/bundle/oci/Dockerfile
  src/openllm/models/auto/configuration_auto.py
  src/openllm/models/auto/modeling_vllm_auto.py
  src/openllm/models/baichuan/__init__.py
  src/openllm/models/baichuan/modeling_vllm_baichuan.py
  src/openllm/models/dolly_v2/__init__.py
  src/openllm/models/dolly_v2/modeling_dolly_v2.py
  src/openllm/models/dolly_v2/modeling_vllm_dolly_v2.py
  src/openllm/models/gpt_neox/__init__.py
  src/openllm/models/gpt_neox/modeling_vllm_gpt_neox.py
  src/openllm/models/mpt/__init__.py
  src/openllm/models/mpt/modeling_vllm_mpt.py
  src/openllm/models/stablelm/__init__.py
  src/openllm/models/stablelm/modeling_vllm_stablelm.py
  src/openllm/models/starcoder/__init__.py
  src/openllm/models/starcoder/configuration_starcoder.py
  src/openllm/models/starcoder/modeling_starcoder.py
  src/openllm/models/starcoder/modeling_vllm_starcoder.py
  src/openllm/serialisation/__init__.py
  src/openllm/serialisation/transformers.py
  src/openllm/utils/dummy_vllm_objects.py
  src/openllm_client/runtimes/base.py
  tests/configuration_test.py
Due: pyright

fix(build): add ``--device`` into envvar
  src/openllm/bundle/_package.py
  src/openllm/cli/_factory.py
  src/openllm/cli/entrypoint.py
Due: pyright

chore(docs): update to obsidian README format
  README.md
  hatch.toml
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/cli/_factory.py
  src/openllm/cli/entrypoint.py
Due: pyright, check-models-table-update

chore(aws): use g4dn for more availability
  .github/workflows/build.yml
Due: none

chore(base): add auto-gptq CUDA kernel
  src/openllm/bundle/oci/Dockerfile
Due: none

revert: "chore(aws): use g4dn for more availability"
  .github/workflows/build.yml
Due: none

fix: add arch_list for cross compiling
  src/openllm/bundle/oci/Dockerfile
Due: none

fix(build): to run on tags [skip ci]
  .github/workflows/build.yml
  .github/workflows/create-releases.yml
Due: none

infra: prepare for release 0.2.13 [generated] [skip ci]
  CHANGELOG.md
  package.json
Due: changelog-dry-run

infra: bump to dev version of 0.2.14.dev0 [generated] [skip ci]
  package.json
Due: none

fix(ci): rename runner name [skip ci]
  .github/workflows/release-notes.yml
Due: none

fix: clone all for nightly strategy
  src/openllm/bundle/oci/__init__.py
Due: pyright

fix(build): correct module type for stubs and strip assert [skip ci]
  hatch.toml
  pyproject.toml
  src/openllm/models/chatglm/modeling_chatglm.py
Due: pyright

Show URL when hovering social buttons
  contrib/clojure-ui/src/main/openllm/components/nav_bar/views.cljs
Due: none

Update model info styling
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_selection/views.cljs
Due: none

Make playground input non-resizable
  contrib/clojure-ui/src/main/openllm/components/playground/views.cljs
Due: none

Changed some naming
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_params/subs.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/views.cljs
Due: none

Make chat and playground more consistent
  contrib/clojure-ui/src/main/openllm/components/chat/views.cljs
  contrib/clojure-ui/src/main/openllm/components/playground/views.cljs
Due: none

Add <code> tag to parameter labels
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_params/views.cljs
Due: none

Fix more styling
  contrib/clojure-ui/src/main/openllm/components/chat/views.cljs
Due: none

fix(vllm): correctly read env for EnvVarMixin
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/_strategies.py
  src/openllm/bundle/_package.py
  src/openllm/bundle/oci/Dockerfile
  src/openllm/cli/_factory.py
  src/openllm/cli/entrypoint.py
  src/openllm/cli/termui.py
  src/openllm/models/auto/factory.py
  src/openllm/utils/__init__.py
  src/openllm/utils/import_utils.py
Due: pyright

chore: add changelog [skip ci]
  changelog.d/181.fix.md
Due: none
