Repository bentoml/OpenLLM: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, check-models-table-update, changelog-dry-run

.pre-commit-config.yaml:

# Copyright 2023 BentoML Team. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

ci:
  autoupdate_schedule: weekly
  skip: [check-models-table-update, check-models-table-update, changelog-dry-run, pyright, mypy]
  autofix_commit_msg: "ci: auto fixes from pre-commit.ci\n\nFor more information, see https://pre-commit.ci"
  autoupdate_commit_msg: 'ci: pre-commit autoupdate [pre-commit.ci]'
exclude: '.*\.(css|js|svg)$'
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.0.278'
    hooks:
      - id: ruff
        args: [--exit-non-zero-on-fix, --show-fixes]
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/econchick/interrogate
    rev: 1.5.0
    hooks:
      - id: interrogate
        types: [python]
        exclude: ^(docs|tools|tests)
        args: [--config=pyproject.toml]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: ./tools/mypy
        'types_or': [python, pyi]
        language: python
        pass_filenames: false
        verbose: true
        exclude: |
          (?x)^(
              examples/.*|
              tools/.*|
              tests/.*|
              src/openllm/playground/.*|
              src/openllm/models/.*|
              .github/.*
          )$
        additional_dependencies: ["mypy==1.4.1", "types-tabulate", "types-Deprecated", "types-PyYAML", "types-decorator", "types-protobuf", "types-python-dateutil", "types-requests", "types-setuptools", "types-six", "types-ujson", "pandas-stubs", "types-Pillow", "types-Pygments", "types-appdirs", "types-colorama", "types-google-cloud-ndb", "types-jsonschema", "types-psutil", "types-pywin32", "types-tqdm", "types-openpyxl"]
      - id: pyright
        name: pyright
        entry: ./tools/pyright
        types: [python]
        language: node
        pass_filenames: false
        additional_dependencies: ['pyright@1.1.317']
        verbose: true
      - id: check-license-header
        name: check for license headers
        entry: ./tools/assert-license-headers
        language: script
        exclude_types:
          - 'markdown'
          - 'toml'
          - 'json'
          - 'text'
        exclude: |
          (?x)^(
              tools/.*|
              assets/.*|
              changelog.d/.*|
              typings/.*|
              .github/.*
          )$
      - id: check-models-table-update
        name: check if table in README.md is up-to-date
        entry: ./tools/assert-model-table-latest
        language: script
        files: README.md
      - id: changelog-dry-run
        name: Running changelog dry-run
        entry: hatch run changelog
        language: system
        files: CHANGELOG.md
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              tests/models/.*
          )$
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml

fix(ci): release prep for notes
  .github/workflows/release-notes.yml
  README.md
  hatch.toml
Due: check-models-table-update

fix(ci): correct tag for checkout (#150)
  .github/workflows/release-notes.yml
  README.md
  hatch.toml
Due: check-models-table-update

Change comment style of context buttons
  contrib/clojure-ui/src/main/openllm/components/nav_bar/views.cljs
Due: none

fix: disable auto fixes
  .git-blame-ignore-revs
  .pre-commit-config.yaml
Due: none

fix(pre-commit): disable auto fixes (#151)
  .git-blame-ignore-revs
  .pre-commit-config.yaml
Due: none

Remove some useless code
  contrib/clojure-ui/src/main/openllm/components/nav_bar/views.cljs
Due: none

Add :advanced-opt keyword to parameter-meta-data map
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_params/db.cljs
Due: none

Implement accordion for advanced parameters
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_params/views.cljs
Due: none

Fix de-ref in render function
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_params/views.cljs
Due: none

chore: update default model_id with non-gated llama variant
  README.md
  src/openllm/models/llama/configuration_llama.py
Due: pyright, check-models-table-update

chore(infra): add blame ignore rev for better git blame
  .git-blame-ignore-revs
  DEVELOPMENT.md
Due: none

chore: remove broken ignore hash
  .git-blame-ignore-revs
Due: none

chore: add NousResearch's as non-gated Llama (#152)
  .git-blame-ignore-revs
  DEVELOPMENT.md
  README.md
  src/openllm/models/llama/configuration_llama.py
Due: pyright, check-models-table-update

Changed native inputs to MUI inputs
  contrib/clojure-ui/src/css/tailwind.css
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_params/events.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/model_params/views.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/views.cljs
Due: none

feat: supports embeddings for T5 generation family
  src/openllm/_service.py
  src/openllm/_types.py
  src/openllm/models/flan_t5/modeling_flan_t5.py
  src/openllm/models/llama/modeling_llama.py
Due: pyright

feat: add embeddings for chatglm variants
  src/openllm/models/chatglm/modeling_chatglm.py
Due: pyright

chore: add docs
  README.md
  changelog.d/153.feature.md
Due: check-models-table-update

feat: supports embeddings for T5 and ChatGLM family generation (#153)
  README.md
  changelog.d/153.feature.md
  src/openllm/_service.py
  src/openllm/_types.py
  src/openllm/models/chatglm/modeling_chatglm.py
  src/openllm/models/flan_t5/modeling_flan_t5.py
  src/openllm/models/llama/modeling_llama.py
Due: pyright, check-models-table-update

fix: make sure to add torch to dependencies
  src/openllm/bundle/_package.py
Due: pyright

infra: prepare for release 0.2.11 [generated] [skip ci]
  CHANGELOG.md
  changelog.d/153.feature.md
  package.json
Due: changelog-dry-run

infra: bump to dev version of 0.2.12.dev0 [generated] [skip ci]
  package.json
Due: none

chore(release): add darwin binary to release notes
  .github/workflows/release-notes.yml
Due: none

chore(release): add darwin binary to release notes (#154)
  .github/workflows/release-notes.yml
Due: none

Minor edits
  README.md
Due: check-models-table-update

docs: update README.md typos (#155)
  README.md
Due: check-models-table-update

fix(logs): correctly ignore ConflictError from circus
  .pre-commit-config.yaml
  hatch.toml
  src/openllm/_llm.py
  src/openllm/bundle/_package.py
  src/openllm/cli.py
  src/openllm/serialisation/transformers.py
  src/openllm/utils/__init__.py
Due: pyright

fix(models): update configuration exception message
  src/openllm/_llm.py
  src/openllm/models/auto/factory.py
Due: pyright

chore(llama): rename to convention
  pyproject.toml
  src/openllm/__init__.py
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/_service.py
  src/openllm/_types.py
  src/openllm/models/auto/configuration_auto.py
  src/openllm/models/auto/modeling_auto.py
  src/openllm/models/auto/modeling_vllm_auto.py
  src/openllm/models/llama/__init__.py
  src/openllm/models/llama/configuration_llama.py
  src/openllm/models/llama/modeling_llama.py
  src/openllm/models/llama/modeling_vllm_llama.py
  src/openllm/utils/__init__.py
  src/openllm/utils/dummy_pt_objects.py
  src/openllm/utils/dummy_vllm_objects.py
  tools/update-config-stubs.py
  typings/click_option_group/_decorators.pyi
  typings/cuda/cudart.pyi
Due: pyright

perf: reduce save time and genearl CLI docs enhancement
  .github/workflows/binary-releases.yml
  .github/workflows/update-changelog.yml
  changelog.d/142.feature.md
  hatch.toml
  pyproject.toml
  src/openllm/__init__.py
  src/openllm/__main__.py
  src/openllm/_llm.py
  src/openllm/_strategies.py
  src/openllm/bundle/__init__.py
  src/openllm/bundle/_package.py
  src/openllm/bundle/oci/Dockerfile
  src/openllm/bundle/oci/__init__.py
  src/openllm/cli/__init__.py
  src/openllm/cli/entrypoint.py
  src/openllm/cli/ext/__init__.py
  src/openllm/cli/ext/build_base_container.py
  src/openllm/cli/ext/dive_bentos.py
  src/openllm/cli/ext/get_prompt.py
  src/openllm/cli/ext/list_bentos.py
  src/openllm/cli/termui.py
  src/openllm/exceptions.py
  src/openllm/models/__init__.py
  src/openllm/models/auto/factory.py
  src/openllm/serialisation/transformers.py
  src/openllm/utils/__init__.py
  tools/dependencies.py
  tools/update-config-stubs.py
  tools/update-models-import.py
Due: pyright

fix: Using ray workers for multiple GPUs with vLLM
  pyproject.toml
  src/openllm/_llm.py
  src/openllm/bundle/__init__.py
  src/openllm/bundle/_package.py
  src/openllm/bundle/oci/Dockerfile
  src/openllm/bundle/oci/Dockerfile-builder
  src/openllm/bundle/oci/Dockerfile-vllm
  src/openllm/cli.py
  src/openllm/serialisation/transformers.py
  src/openllm/utils/__init__.py
  tools/dependencies.py
Due: pyright

chore: update changelog
  changelog.d/142.feature.md
Due: none

chore: only login for GHCR when main and release not PR
  .github/workflows/build.yml
Due: none

chore: update annotation
  src/openllm/serialisation/transformers.py
Due: pyright

chore: update subnets and security id
  .github/workflows/build.yml
Due: none

chore: try to use smaller instance typpppe
  .github/workflows/build.yml
Due: none

fix: remove returning runner for ``for_model``
  .github/workflows/build.yml
  .github/workflows/update-changelog.yml
  changelog.d/142.feature.md
  src/openllm/cli/_factory.py
  src/openllm/cli/entrypoint.py
  src/openllm/models/auto/factory.py
  src/openllm/serialisation/__init__.py
  src/openllm/serialisation/constants.py
  src/openllm/serialisation/transformers.py
Due: pyright

chore: running pre-commit [generated]
  examples/bentoml-demo/service.py
  examples/langchain-chains-demo/service.py
  examples/langchain-tools-demo/service.py
  src/openllm/_generation.py
  src/openllm/_llm.py
  src/openllm/cli/__init__.py
  src/openllm/cli/ext/__init__.py
  src/openllm/cli/ext/build_base_container.py
  src/openllm/cli/ext/dive_bentos.py
  src/openllm/cli/ext/get_containerfile.py
  src/openllm/cli/ext/get_prompt.py
  src/openllm/cli/ext/list_bentos.py
  src/openllm/cli/ext/list_models.py
  src/openllm/cli/termui.py
  src/openllm/utils/analytics.py
  src/openllm/utils/dummy_pt_and_cpm_kernels_objects.py
  src/openllm/utils/dummy_pt_and_einops_objects.py
  src/openllm/utils/dummy_pt_and_triton_objects.py
  src/openllm/utils/representation.py
  src/openllm_client/runtimes/grpc.py
  tests/__init__.py
  tests/_strategies/_configuration.py
  tests/client_test.py
  tests/configuration_test.py
  tests/conftest.py
  tests/models/conftest.py
  tests/models/flan_t5_test.py
  tests/models/opt_test.py
  tests/models_test.py
  tests/package_test.py
  tests/strategies_test.py
Due: pyright

chore: update to dev subnet instead of multi-tenant
  .github/workflows/build.yml
Due: none

revert: "chore: update to dev subnet instead of multi-tenant"
  .github/workflows/build.yml
Due: none
