Repository bentoml/OpenLLM: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, check-models-table-update, changelog-dry-run

.pre-commit-config.yaml:

# Copyright 2023 BentoML Team. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

ci:
  autoupdate_schedule: weekly
  skip: [check-models-table-update, check-models-table-update, changelog-dry-run, pyright, mypy]
  autofix_commit_msg: "ci: auto fixes from pre-commit.ci\n\nFor more information, see https://pre-commit.ci"
  autoupdate_commit_msg: 'ci: pre-commit autoupdate [pre-commit.ci]'
exclude: '.*\.(css|js|svg)$'
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.0.278'
    hooks:
      - id: ruff
        args: [--exit-non-zero-on-fix, --show-fixes]
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/econchick/interrogate
    rev: 1.5.0
    hooks:
      - id: interrogate
        types: [python]
        exclude: ^(docs|tools|tests)
        args: [--config=pyproject.toml]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: ./tools/mypy
        'types_or': [python, pyi]
        language: python
        pass_filenames: false
        verbose: true
        exclude: |
          (?x)^(
              examples/.*|
              tools/.*|
              tests/.*|
              src/openllm/playground/.*|
              src/openllm/models/.*|
              .github/.*
          )$
        additional_dependencies: ["mypy==1.4.1", "types-tabulate", "types-Deprecated", "types-PyYAML", "types-decorator", "types-protobuf", "types-python-dateutil", "types-requests", "types-setuptools", "types-six", "types-ujson", "pandas-stubs", "types-Pillow", "types-Pygments", "types-appdirs", "types-colorama", "types-google-cloud-ndb", "types-jsonschema", "types-psutil", "types-pywin32", "types-tqdm", "types-openpyxl"]
      - id: pyright
        name: pyright
        entry: ./tools/pyright
        types: [python]
        language: node
        pass_filenames: false
        additional_dependencies: ['pyright@1.1.317']
        verbose: true
      - id: check-license-header
        name: check for license headers
        entry: ./tools/assert-license-headers
        language: script
        exclude_types:
          - 'markdown'
          - 'toml'
          - 'json'
          - 'text'
        exclude: |
          (?x)^(
              tools/.*|
              assets/.*|
              changelog.d/.*|
              typings/.*|
              .github/.*
          )$
      - id: check-models-table-update
        name: check if table in README.md is up-to-date
        entry: ./tools/assert-model-table-latest
        language: script
        files: README.md
      - id: changelog-dry-run
        name: Running changelog dry-run
        entry: hatch run changelog
        language: system
        files: CHANGELOG.md
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              tests/models/.*
          )$
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml

infra: bump to dev version of 0.2.10.dev0 [generated] [skip ci]
  package.json
  src/openllm/__about__.py
Due: pyright

feat(ci): automatic release semver + git archival installation
  .git_archival.txt
  .gitattributes
  .github/actions/release.sh
  .github/workflows/create-releases.yml
  .gitignore
  hatch.toml
  pyproject.toml
  src/openllm/__about__.py
  src/openllm/__init__.py
  src/openllm/cli.py
  src/openllm/utils/lazy.py
Due: pyright

feat: hatch-fancy-pypi-readme
  README.md
  hatch.toml
  tools/update-readme.py
Due: pyright, check-models-table-update

chore(readme): add some more metadata
  README.md
Due: check-models-table-update

chore: add changelog [skip ci]
  changelog.d/143.feature.md
Due: none

Update README.md
  README.md
Due: check-models-table-update

feat(ci): automatic release semver + git archival installation (#143)
  .git_archival.txt
  .gitattributes
  .github/actions/release.sh
  .github/workflows/create-releases.yml
  .gitignore
  README.md
  changelog.d/143.feature.md
  hatch.toml
  pyproject.toml
  src/openllm/__about__.py
  src/openllm/__init__.py
  src/openllm/cli.py
  src/openllm/utils/lazy.py
  tools/update-readme.py
Due: pyright, check-models-table-update

docs: remove extraneous whitespace (#144)
  README.md
Due: check-models-table-update

docs: update fine tuning model support (#145)
  README.md
Due: check-models-table-update

fix(build): running from container choosing models correctly
  pyproject.toml
  src/openllm/_llm.py
  src/openllm/bundle/_package.py
  src/openllm/cli.py
  src/openllm/serialisation/__init__.py
  src/openllm/serialisation/transformers.py
Due: pyright

chore: add changelog
  changelog.d/141.fix.md
Due: none

fix(build): running bento insider container (#141)
  changelog.d/141.fix.md
  pyproject.toml
  src/openllm/_llm.py
  src/openllm/bundle/_package.py
  src/openllm/cli.py
  src/openllm/serialisation/__init__.py
  src/openllm/serialisation/transformers.py
Due: pyright

feat(client): embeddings
  src/openllm/_service.py
  src/openllm/_strategies.py
  src/openllm/cli.py
  src/openllm_client/runtimes/base.py
  src/openllm_client/runtimes/http.py
Due: pyright

chore: add changelog
  changelog.d/146.feature.md
Due: none

chore: add readme section about embeddings
  README.md
  src/openllm/cli.py
Due: pyright, check-models-table-update

feat(client): embeddings (#146)
  README.md
  changelog.d/146.feature.md
  src/openllm/_service.py
  src/openllm/_strategies.py
  src/openllm/cli.py
  src/openllm_client/runtimes/base.py
  src/openllm_client/runtimes/http.py
Due: pyright, check-models-table-update

fix(ci): make sure to exclude generated _version.py
  pyproject.toml
Due: none

feat(ci): add slash commands
  .github/workflows/slash-commands.yml
  changelog.d/147.feature.md
Due: none

chore: rename changelog fragment
  changelog.d/148.feature.md
Due: none

fix: add proper workflow_dispatch slash setup
  .github/workflows/slash-command-dispatch.yml
  .github/workflows/update-changelog.yml
Due: none

fix: correct command filename
  .github/workflows/slash-command-dispatch.yml
  .github/workflows/update-changelog-command.yml
Due: none

fix: maybe it works now?
  .github/workflows/slash-command-dispatch.yml
  .github/workflows/update-changelog-command.yml
Due: none

chore: maybe it works now with ci?
  .github/workflows/ci.yml
  .github/workflows/update-changelog-command.yml
  .github/workflows/update-changelog.yml
Due: none

Remove commented out code
  contrib/clojure-ui/src/main/openllm/components/nav_bar/views.cljs
Due: none

Remove context icon buttons ;_;
  contrib/clojure-ui/src/main/openllm/components/nav_bar/views.cljs
Due: none

fix: standalone CI on PR
  .github/workflows/ci.yml
  .github/workflows/update-changelog.yml
Due: none

fix: correctly set comment
  .github/workflows/update-changelog.yml
Due: none

fix: signed push
  .github/workflows/update-changelog.yml
Due: none

ci: correctness
  .github/workflows/ci.yml
  .github/workflows/update-changelog.yml
Due: none

ci: correctness
  .github/workflows/update-changelog.yml
Due: none

Move GitHub button to the right
  contrib/clojure-ui/src/main/openllm/components/nav_bar/views.cljs
Due: none

i gave up
  .github/workflows/ci.yml
  .github/workflows/update-changelog.yml
  .pre-commit-config.yaml
Due: none

Add discord icon
  contrib/clojure-ui/src/main/openllm/components/nav_bar/views.cljs
Due: none

fix(embeddings): correctly set JSON data via CLI client
  src/openllm/_llm.py
  src/openllm/cli.py
  src/openllm_client/runtimes/base.py
  src/openllm_client/runtimes/http.py
Due: pyright

fix: remove breakpoint on CLI
  src/openllm_client/runtimes/http.py
Due: pyright

fix(ci): release correct version via git
  .github/actions/create_release_and_archive.sh
  .github/actions/release.sh
  .github/workflows/create-releases.yml
  .github/workflows/release-notes.yml
Due: none

infra: prepare for release 0.2.10 [generated] [skip ci]
  CHANGELOG.md
  changelog.d/141.fix.md
  changelog.d/143.feature.md
  changelog.d/146.feature.md
  package.json
Due: changelog-dry-run

infra: bump to dev version of 0.2.11.dev0 [generated] [skip ci]
  package.json
Due: none
