Repository bentoml/OpenLLM: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, check-models-table-update, sync-readme, changelog-dry-run, pyright

yapf:
  verbose: true
  name: yapf
  entry: ./tools/yapf
  language: python
  pass_filenames: false
  additional_dependencies:
  - yapf==0.40.0

check-models-table-update:
  name: check if table in README.md is up-to-date
  entry: ./tools/assert-model-table-latest
  language: script
  verbose: true

sync-readme:
  name: sync readme with python core library
  entry: ./tools/sync-readme
  language: script
  verbose: true

changelog-dry-run:
  name: Running changelog dry-run
  entry: hatch run changelog
  language: system

pyright:
  name: pyright
  entry: ./tools/pyright
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.317
  verbose: true

fix: return tag [wheel build]
  .github/workflows/build-embedding.yml
Due: none

fix(generation): unecessary casting [ec2 build] [wheel build]
  openllm-python/src/openllm/_generation.py
Due: yapf, pyright

fix: set envvar for action
  .github/workflows/build-embedding.yml
Due: none

chore: set to main for debug
  .github/workflows/build-embedding.yml
Due: none

chore: fix embeddings naming for tag stage [wheel build]
  .github/workflows/build-embedding.yml
  openllm-python/src/openllm/__init__.py
  openllm-python/src/openllm/_service.py
  openllm-python/src/openllm/_strategies.py
  openllm-python/src/openllm/bundle/_package.py
  openllm-python/src/openllm/cli/_factory.py
Due: yapf, pyright

chore: only build amd64 for now
  .github/workflows/build-embedding.yml
Due: none

chore: set editable install for building wheels on release
  .github/workflows/build-embedding.yml
Due: none

chore: use smaller base model
  .github/workflows/build-embedding.yml
Due: none

feat(embedding): Adding generic endpoint (#227)
  .github/workflows/binary-releases.yml
  .github/workflows/build-embedding.yml
  .github/workflows/build.yml
  .github/workflows/compile-pypi.yml
  README.md
  changelog.d/227.feature.md
  openllm-python/README.md
  openllm-python/pyproject.toml
  openllm-python/src/openllm/__init__.py
  openllm-python/src/openllm/_embeddings.py
  openllm-python/src/openllm/_llm.py
  openllm-python/src/openllm/_service.py
  openllm-python/src/openllm/_strategies.py
  openllm-python/src/openllm/_typing_compat.py
  openllm-python/src/openllm/bundle/_package.py
  openllm-python/src/openllm/cli/_factory.py
  openllm-python/src/openllm/cli/_sdk.py
  openllm-python/src/openllm/client/runtimes/http.py
  openllm-python/src/openllm/serialisation/transformers/__init__.py
  openllm-python/src/openllm/utils/codegen.py
  pyproject.toml
  tools/run-release-action
Due: yapf, check-models-table-update, sync-readme, pyright

infra: prepare for release 0.2.26 [generated] [skip ci]
  CHANGELOG.md
  changelog.d/227.feature.md
  changelog.d/228.fix.md
  contrib/clojure/package.json
  openllm-node/package.json
  openllm-python/CHANGELOG.md
  package.json
Due: changelog-dry-run

infra: bump to dev version of 0.2.27.dev0 [generated] [skip ci]
  contrib/clojure/package.json
  openllm-node/package.json
  package.json
Due: none

infra: bump to homebrew tap release to 0.2.26 [generated] [skip ci]
  Formula/openllm.rb
Due: none

chore(release): add manual workflow dispatch run on new release tag [skip ci]
  contrib/clojure/Dockerfile
  tools/run-release-action
Due: none

chore: initial ggml setup
  openllm-python/src/openllm/_llm.py
  openllm-python/src/openllm/serialisation/ggml/__init__.py
Due: yapf, pyright

chore: corect type
  openllm-python/src/openllm/models/llama/modelling_ggml_llama.py
Due: yapf, pyright

chore(ci): add conditional for building embedding bentos
  .github/workflows/build-embedding.yml
Due: none

chore: wip
  openllm-python/src/openllm/_generation.py
  openllm-python/src/openllm/_llm.py
  openllm-python/src/openllm/_service.py
  openllm-python/src/openllm/_typing_compat.py
  openllm-python/src/openllm/serialisation/transformers/__init__.py
Due: yapf, pyright

wip
  .github/workflows/rust-ci.yml
  openllm-client/.gitignore
  openllm-client/Cargo.lock
  openllm-client/Cargo.toml
  openllm-client/LICENSE.md
  openllm-client/README.md
  openllm-client/protos/bentoml/grpc/v1/service.proto
  openllm-client/pyproject.toml
  openllm-client/src/grpc_client.rs
  openllm-client/src/http_client.rs
  openllm-client/src/lib.rs
Due: check-models-table-update, sync-readme

feat: token streaming (SSE)
  openllm-python/src/openllm/_llm.py
  openllm-python/src/openllm/_typing_compat.py
  openllm-python/src/openllm/models/llama/modeling_llama.py
  pyproject.toml
Due: yapf, pyright

chore: add changelog
  changelog.d/240.feature.md
Due: none

feat: token streaming and SSE support (#240)
  changelog.d/240.feature.md
  openllm-python/src/openllm/_generation.py
  openllm-python/src/openllm/_llm.py
  openllm-python/src/openllm/_service.py
  openllm-python/src/openllm/_typing_compat.py
  openllm-python/src/openllm/models/llama/modeling_llama.py
  openllm-python/src/openllm/serialisation/transformers/__init__.py
  pyproject.toml
Due: yapf, pyright

chore(changelog): add refactor section [skip ci]
  changelog.d/168.change.md
  pyproject.toml
Due: none

chore: wip rust client
  Cargo.lock
  Cargo.toml
  openllm-client/.gitignore
  openllm-client/Cargo.toml
  openllm-client/DESIGN.md
  openllm-client/README.md
  openllm-client/build.rs
  openllm-client/src/bentoclient/client.rs
  openllm-client/src/bentoclient/grpc.rs
  openllm-client/src/bentoclient/http.rs
  openllm-client/src/bentoclient/lib.rs
  openllm-client/src/client.rs
  openllm-client/src/http_client.rs
Due: check-models-table-update, sync-readme

fix(generate): Correct set batch output for generate from iterator
  openllm-python/src/openllm/_llm.py
Due: yapf, pyright

feat: add changelog
  changelog.d/249.refactor.md
Due: none

chore(deps): run pdm lock [skip ci]
  contrib/clojure/pnpm-lock.yaml
  hatch.toml
Due: none

chore: update installation
  .github/workflows/binary-releases.yml
  .github/workflows/ci.yml
  hatch.toml
Due: none

fix: compiled on Linux
  compile.sh
  openllm-client/pyproject.toml
  openllm-client/src/openllm_client/_base.py
  openllm-core/pyproject.toml
  openllm-core/src/openllm_core/_strategies.py
  openllm-python/pyproject.toml
  openllm-python/src/openllm/bundle/_package.py
  openllm-python/src/openllm/cli/_factory.py
  openllm-python/src/openllm/cli/extension/build_base_container.py
  openllm-python/src/openllm/cli/extension/dive_bentos.py
  openllm-python/src/openllm/cli/extension/get_containerfile.py
  openllm-python/src/openllm/cli/extension/get_prompt.py
  openllm-python/src/openllm/cli/extension/list_bentos.py
  openllm-python/src/openllm/cli/extension/list_models.py
  openllm-python/src/openllm/cli/extension/playground.py
  openllm-python/tests/compiled_test.py
Due: yapf, pyright

fix: dependencies for compiled
  openllm-client/pyproject.toml
  openllm-core/pyproject.toml
  openllm-python/pyproject.toml
Due: none

fix: tests dependencies
  .github/workflows/build-embedding.yml
  .github/workflows/compile-pypi.yml
  DEVELOPMENT.md
  hatch.toml
  local.sh
  openllm-client/pyproject.toml
  openllm-core/pyproject.toml
  openllm-python/pyproject.toml
Due: none

chore: update tests
  openllm-python/tests/_strategies/_configuration.py
  openllm-python/tests/conftest.py
  openllm-python/tests/models_test.py
  openllm-python/tests/package_test.py
  openllm-python/tests/strategies_test.py
Due: yapf, pyright

chore: skip imports for core compiled
  openllm-core/pyproject.toml
Due: none

fix: test and setup before_build
  .github/workflows/compile-pypi.yml
  openllm-python/tests/configuration_test.py
  pyproject.toml
Due: yapf, pyright

fix: test error and remove local setup
  openllm-python/tests/configuration_test.py
  pyproject.toml
Due: yapf, pyright

chore: update scripts and general compiled
  compile.sh
  hatch.toml
  openllm-client/pyproject.toml
  openllm-client/src/openllm_client/_base.py
  openllm-client/src/openllm_client/benmin/_grpc.py
  openllm-client/src/openllm_client/benmin/_http.py
  openllm-core/pyproject.toml
  openllm-python/pyproject.toml
  pyproject.toml
  tools/dependencies.py
Due: yapf, pyright

chore: update typed dict usage
  openllm-client/src/openllm_client/benmin/_grpc.py
  openllm-core/src/openllm_core/_typing_compat.py
Due: yapf, pyright

chore: update body for Async client
  openllm-client/src/openllm_client/benmin/_http.py
Due: yapf, pyright

revert: client changes
  openllm-client/src/openllm_client/benmin/_http.py
Due: yapf, pyright

chore: update dependencies to `openllm[full]` [skip ci]
  .github/workflows/compile-pypi.yml
  openllm-python/pyproject.toml
  tools/dependencies.py
Due: yapf, pyright

Path conditions:
  yapf: any of: \.py$, but not: .*\.(css|js|svg)$
  check-models-table-update: any of: README.md, but not: .*\.(css|js|svg)$
  sync-readme: any of: README.md, but not: .*\.(css|js|svg)$
  changelog-dry-run: any of: CHANGELOG.md, but not: .*\.(css|js|svg)$
  pyright: any of: \.py$, but not: .*\.(css|js|svg)$
