Repository bentoml/OpenLLM: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, check-models-table-update, changelog-dry-run

pyright:
  name: pyright
  entry: ./tools/pyright
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.317
  verbose: true

check-models-table-update:
  name: check if table in README.md is up-to-date
  entry: ./tools/assert-model-table-latest
  language: script

changelog-dry-run:
  name: Running changelog dry-run
  entry: hatch run changelog
  language: system

chore(llm): add envvar for making tag
  src/openllm/_llm.py
Due: pyright

fix(llm): ignore quantization config when --quantize int4 is passed
  .github/actions/create_release_and_archive.sh
  src/openllm/_llm.py
  src/openllm/playground/llama2_qlora.py
  src/openllm/serialisation/transformers.py
Due: pyright

fix(serialisation): using save_pretrained with import_model
  src/openllm/_llm.py
  src/openllm/serialisation/transformers.py
Due: pyright

infra: prepare for release 0.2.7 [generated] [skip ci]
  CHANGELOG.md
  package.json
  src/openllm/__about__.py
Due: pyright, changelog-dry-run

infra: bump to dev version of 0.2.8.dev0 [generated] [skip ci]
  package.json
  src/openllm/__about__.py
Due: pyright

feat(service): provisional API
  src/openllm/_llm.py
  src/openllm/_service.py
  src/openllm/_types.py
  src/openllm/serialisation/transformers.py
  src/openllm_client/runtimes/base.py
Due: pyright

chore: add changelog [skip ci]
  changelog.d/133.feature.md
Due: none

fix: setattr cached to loaded instance
  src/openllm/serialisation/transformers.py
Due: pyright

fix(opt): correct architecture
  src/openllm/models/opt/configuration_opt.py
Due: pyright

fix(stubs): running new ruff [skip ci]
  typings/attr/__init__.pyi
  typings/attr/_cmp.pyi
  typings/attr/_compat.pyi
  typings/attr/_make.pyi
  typings/click_option_group/_core.pyi
  typings/deepmerge/merger.pyi
  typings/deepmerge/strategy/core.pyi
  typings/jupytext/config.pyi
  typings/jupytext/formats.pyi
Due: none

chore: update changelog
  changelog.d/133.feature.md
Due: none

revert: hatch
  hatch.toml
Due: none

chore: update ruff config
  pyproject.toml
Due: none

chore(metadata): add check for embeddings and hf_agent via API
  src/openllm/_schema.py
  src/openllm/_service.py
  src/openllm/cli.py
  src/openllm/models/mpt/modeling_mpt.py
  src/openllm/models/stablelm/modeling_stablelm.py
  src/openllm_client/runtimes/base.py
  src/openllm_client/runtimes/grpc.py
  src/openllm_client/runtimes/http.py
Due: pyright

chore(cli): simplify table for ``openllm models``
  src/openllm/cli.py
Due: pyright

chore: export generation items for lazy loading
  src/openllm/__init__.py
  src/openllm/_llm.py
  src/openllm/cli.py
  src/openllm/models/auto/__init__.py
  src/openllm/models/auto/configuration_auto.py
  src/openllm/models/auto/factory.py
  src/openllm/models/auto/modeling_auto.py
  src/openllm/models/auto/modeling_flax_auto.py
  src/openllm/models/auto/modeling_tf_auto.py
  src/openllm/models/auto/modeling_vllm_auto.py
  src/openllm/models/falcon/modeling_falcon.py
  src/openllm/models/gpt_neox/modeling_gpt_neox.py
  src/openllm/models/llama/modeling_llama.py
  src/openllm/models/stablelm/modeling_stablelm.py
  src/openllm/models/starcoder/modeling_starcoder.py
  src/openllm/serialisation/constants.py
  src/openllm/serialisation/transformers.py
Due: pyright

feat(llama): vLLM
  src/openllm/models/llama/modeling_vllm_llama.py
Due: pyright

feat(vllm): generic vLLM inference support
  .pre-commit-config.yaml
  pyproject.toml
  src/openllm/__init__.py
  src/openllm/_llm.py
  src/openllm/_schema.py
  src/openllm/_service.py
  src/openllm/_types.py
  src/openllm/cli.py
  src/openllm/models/auto/factory.py
  src/openllm/models/llama/modeling_vllm_llama.py
  src/openllm/serialisation/__init__.py
  src/openllm/serialisation/ggml.py
  src/openllm/serialisation/transformers.py
  tests/conftest.py
Due: pyright

wip [skip ci]
  src/openllm/_llm.py
  src/openllm/bundle/_package.py
  src/openllm/cli.py
  src/openllm/serialisation/transformers.py
  src/openllm/utils/import_utils.py
Due: pyright

perf: simplify loading and remove deterministic formatter
  .pre-commit-config.yaml
  pyproject.toml
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/_service.py
  src/openllm/_strategies.py
  src/openllm/bundle/_package.py
  src/openllm/cli.py
  src/openllm/serialisation/transformers.py
  src/openllm/utils/codegen.py
  src/openllm/utils/import_utils.py
  tests/llm_test.py
Due: pyright

chore: remove obsolete tests
  tests/strategies_test.py
Due: pyright

Expand nav bar to full screen size
  contrib/clojure-ui/src/main/openllm/components/playground/views.cljs
  contrib/clojure-ui/src/main/openllm/components/side_bar/views.cljs
  contrib/clojure-ui/src/main/openllm/views.cljs
Due: none

Fix some spacing
  contrib/clojure-ui/src/main/openllm/components/nav_bar/views.cljs
  contrib/clojure-ui/src/main/openllm/components/playground/views.cljs
  contrib/clojure-ui/src/main/openllm/views.cljs
Due: none

chore(infra): removing broken type stubs
  .pre-commit-config.yaml
  hatch.toml
  pyproject.toml
  tools/dependencies.py
Due: pyright

feat: vLLM
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/_service.py
  src/openllm/_strategies.py
  src/openllm/bundle/_package.py
  src/openllm/cli.py
  src/openllm/models/auto/modeling_vllm_auto.py
  src/openllm/models/llama/configuration_llama.py
  src/openllm/models/llama/modeling_llama.py
  src/openllm/models/opt/__init__.py
  src/openllm/models/opt/modeling_vllm_opt.py
  src/openllm/serialisation/transformers.py
  src/openllm/utils/__init__.py
  src/openllm/utils/codegen.py
  src/openllm/utils/dantic.py
  src/openllm/utils/dummy_vllm_objects.py
  src/openllm/utils/import_utils.py
  tests/_strategies/_configuration.py
  tools/update-config-stubs.py
Due: pyright

chore: prep for release
  src/openllm/_configuration.py
  src/openllm/models/llama/configuration_llama.py
Due: pyright

feat: vLLM integration for PagedAttention (#134)
  .pre-commit-config.yaml
  hatch.toml
  pyproject.toml
  src/openllm/__init__.py
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/_schema.py
  src/openllm/_service.py
  src/openllm/_strategies.py
  src/openllm/_types.py
  src/openllm/bundle/_package.py
  src/openllm/cli.py
  src/openllm/models/auto/factory.py
  src/openllm/models/auto/modeling_vllm_auto.py
  src/openllm/models/llama/configuration_llama.py
  src/openllm/models/llama/modeling_llama.py
  src/openllm/models/opt/__init__.py
  src/openllm/models/opt/modeling_vllm_opt.py
  src/openllm/serialisation/__init__.py
  src/openllm/serialisation/ggml.py
  src/openllm/serialisation/transformers.py
  src/openllm/utils/__init__.py
  src/openllm/utils/codegen.py
  src/openllm/utils/dantic.py
  src/openllm/utils/dummy_vllm_objects.py
  src/openllm/utils/import_utils.py
  tests/_strategies/_configuration.py
  tests/conftest.py
  tests/llm_test.py
  tests/strategies_test.py
  tools/dependencies.py
  tools/update-config-stubs.py
Due: pyright

infra: prepare for release 0.2.8 [generated] [skip ci]
  CHANGELOG.md
  changelog.d/133.feature.md
  package.json
  src/openllm/__about__.py
Due: pyright, changelog-dry-run

chore(ci): release python earlier than building binary wheels
  .github/workflows/create-releases.yml
Due: none

fix(binary-release): only pull main when it is not pull_request
  .github/workflows/binary-releases.yml
Due: none

chore: add prepare to include publish jobs
  .github/workflows/create-releases.yml
Due: none

infra: bump to dev version of 0.2.9.dev0 [generated] [skip ci]
  package.json
  src/openllm/__about__.py
Due: pyright

fix: sampling strategies for test
  tests/_strategies/_configuration.py
Due: pyright

ci: release PyPI before building binary (#138)
  .github/workflows/binary-releases.yml
  .github/workflows/create-releases.yml
  tests/_strategies/_configuration.py
Due: pyright

docs: Update README.md
  README.md
Due: check-models-table-update

docs: Update README.md (#139)
  README.md
Due: check-models-table-update

fix(cli): ``openllm models`` for showing available
  src/openllm/cli.py
  tools/dependencies.py
Due: pyright

infra: prepare for release 0.2.9 [generated] [skip ci]
  CHANGELOG.md
  package.json
  src/openllm/__about__.py
Due: pyright, changelog-dry-run

Path conditions:
  pyright: any of: \.py$, but not: .*\.(css|js|svg)$
  check-models-table-update: any of: README.md, but not: .*\.(css|js|svg)$
  changelog-dry-run: any of: CHANGELOG.md, but not: .*\.(css|js|svg)$
