Repository bentoml/OpenLLM: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-models-table-update, changelog-dry-run, pyright

.pre-commit-config.yaml:

# Copyright 2023 BentoML Team. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

ci:
  autoupdate_schedule: weekly
  skip: [check-models-table-update, check-models-table-update, changelog-dry-run, pyright, mypy]
  autofix_commit_msg: "ci: auto fixes from pre-commit.ci\n\nFor more information, see https://pre-commit.ci"
  autoupdate_commit_msg: 'ci: pre-commit autoupdate [pre-commit.ci]'
  autofix_prs: false
exclude: '.*\.(css|js|svg)$'
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.0.282'
    hooks:
      - id: ruff
        verbose: true
        args: [--exit-non-zero-on-fix, --show-fixes]
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: '2.7.2'
    hooks:
      - id: editorconfig-checker
        verbose: true
  - repo: https://github.com/econchick/interrogate
    rev: 1.5.0
    hooks:
      - id: interrogate
        verbose: true
        types: [python]
        exclude: ^(docs|tools|tests)
        args: [--config=pyproject.toml]
  - repo: https://github.com/google/yapf
    rev: v0.40.0
    hooks:
      - id: yapf
        verbose: true
        types: [python]
        args: [--parallel, --recursive, -i]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.4.1
    hooks:
      - id: mypy
        verbose: true
        exclude: |
          (?x)^(
              examples/.*|
              tools/.*|
              tests/.*|
              src/openllm/playground/.*|
              .github/.*
          )$
        additional_dependencies:
          - click==8.1.3
          - peft
          - bentoml==1.1.1
          - transformers>=4.31.0
          - pandas-stubs
          - types-psutil
          - types-tabulate
          - types-PyYAML
          - types-protobuf
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        verbose: true
      - id: end-of-file-fixer
        verbose: true
        exclude: |
          (?x)^(
              tests/models/.*
          )$
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml
  - repo: local
    hooks:
      - id: check-license-header
        name: check for license headers
        entry: ./tools/assert-license-headers
        language: script
        verbose: true
        exclude_types:
          - 'markdown'
          - 'toml'
          - 'json'
          - 'text'
        exclude: |
          (?x)^(
              tools/.*|
              assets/.*|
              changelog.d/.*|
              typings/.*|
              .github/.*
          )$
      - id: check-models-table-update
        name: check if table in README.md is up-to-date
        entry: ./tools/assert-model-table-latest
        language: script
        verbose: true
        files: README.md
      - id: changelog-dry-run
        name: Running changelog dry-run
        entry: hatch run changelog
        language: system
        files: CHANGELOG.md
      - id: pyright
        name: pyright
        entry: ./tools/pyright
        types: [python]
        language: node
        pass_filenames: false
        additional_dependencies: ['pyright@1.1.317']
        verbose: true

infra: bump to dev version of 0.2.23.dev0 [generated] [skip ci]
  package.json
  src/openllm-node/package.json
Due: none

infra: bump to homebrew tap release to 0.2.22 [generated] [skip ci]
  Formula/openllm.rb
Due: none

chore(autogptq): update to latest commits
  src/openllm/bundle/oci/Dockerfile
Due: none

infra: enable compiled wheels for 3.10
  .github/workflows/compile-pypi.yml
Due: none

fix: compiled issue with 3.10
  typings/attr/__init__.pyi
  typings/rsmiBindings.pyi
Due: none

fix: clear name
  .github/workflows/compile-pypi.yml
Due: none

chore: update tests
  .github/workflows/compile-pypi.yml
  tests/__init__.py
  tests/_strategies/__init__.py
  tests/_strategies/_configuration.py
  tests/client_test.py
  tests/configuration_test.py
  tests/conftest.py
  tests/models/__init__.py
  tests/models/conftest.py
  tests/models/flan_t5_test.py
  tests/models/opt_test.py
  tests/models_test.py
  tests/package_test.py
  tests/strategies_test.py
Due: pyright

infra: enable 3.9 compiled wheels
  .github/workflows/compile-pypi.yml
Due: none

chore: add changelog
  .github/workflows/compile-pypi.yml
  changelog.d/201.feature.md
Due: none

chore: fix imports for 3.9
  .github/workflows/compile-pypi.yml
  typings/attr/__init__.pyi
  typings/attr/_cmp.pyi
Due: none

chore(ci): update naming
  .github/workflows/compile-pypi.yml
Due: none

fix(macos): set safetensors as binary only for cp38
  .github/workflows/compile-pypi.yml
  pyproject.toml
Due: none

chore: skip 312 for now
  pyproject.toml
Due: none

chore: revert setting MACOSX_DEPLOYMENT_TARGET
  pyproject.toml
  src/openllm/cli/entrypoint.py
Due: pyright

fix: pure wheel
  .github/workflows/compile-pypi.yml
Due: none

chore: compile for arm wheels
  .github/workflows/compile-pypi.yml
Due: none

feat: compiled finished
  .github/workflows/compile-pypi.yml
  STYLE.md
  pyproject.toml
  src/openllm/_service.py
  src/openllm/bundle/__init__.py
  src/openllm/bundle/_package.py
  src/openllm/bundle/oci/__init__.py
  src/openllm/cli/_factory.py
  src/openllm/cli/entrypoint.py
  src/openllm/client/__init__.py
  src/openllm/client/runtimes/base.py
  src/openllm/client/runtimes/grpc.py
  src/openllm/client/runtimes/http.py
  src/openllm/models/auto/configuration_auto.py
  src/openllm/serialisation/transformers/__init__.py
  src/openllm/utils/__init__.py
  src/openllm/utils/analytics.py
  src/openllm/utils/codegen.py
  src/openllm/utils/dantic.py
  src/openllm/utils/import_utils.py
  src/openllm/utils/lazy.py
  src/openllm/utils/representation.py
  tools/dependencies.py
  typings/simple_di/__init__.pyi
  typings/simple_di/providers.pyi
Due: pyright

chore: update exclude mypy
  pyproject.toml
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/_typing_compat.py
  src/openllm/cli/_factory.py
  src/openllm/cli/_sdk.py
  src/openllm/cli/entrypoint.py
  src/openllm/models/auto/factory.py
  src/openllm/models/auto/modeling_auto.py
  src/openllm/models/auto/modeling_flax_auto.py
  src/openllm/models/auto/modeling_tf_auto.py
  src/openllm/models/auto/modeling_vllm_auto.py
  src/openllm/models/baichuan/modeling_baichuan.py
  src/openllm/models/falcon/modeling_falcon.py
  src/openllm/models/flan_t5/modeling_flax_flan_t5.py
  src/openllm/models/flan_t5/modeling_tf_flan_t5.py
  src/openllm/models/mpt/modeling_mpt.py
  src/openllm/serialisation/transformers/__init__.py
  src/openllm/serialisation/transformers/weights.py
  typings/attr/__init__.pyi
Due: pyright

type: update python version to 3.8 for compatibility
  pyproject.toml
  src/openllm/__init__.py
  src/openllm/_configuration.py
  src/openllm/bundle/_package.py
  src/openllm/cli/entrypoint.py
  src/openllm/models/auto/modeling_auto.py
  src/openllm/models/auto/modeling_flax_auto.py
  src/openllm/models/auto/modeling_tf_auto.py
  src/openllm/models/auto/modeling_vllm_auto.py
  src/openllm/models/dolly_v2/modeling_dolly_v2.py
  src/openllm/serialisation/transformers/_helpers.py
  src/openllm/utils/dantic.py
  src/openllm/utils/import_utils.py
  typings/nbformat/_struct.pyi
Due: pyright

fix: update target for building wheels
  pyproject.toml
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/models/llama/modeling_llama.py
  src/openllm/serialisation/__init__.py
  src/openllm/utils/__init__.py
Due: pyright

fix: runtime types for 3.8
  ADDING_NEW_MODEL.md
  hatch.toml
  pyproject.toml
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/models/__init__.py
  src/openllm/models/auto/__init__.py
  src/openllm/models/auto/configuration_auto.py
  src/openllm/models/auto/factory.py
  src/openllm/models/auto/modeling_auto.py
  src/openllm/models/auto/modeling_flax_auto.py
  src/openllm/models/auto/modeling_tf_auto.py
  src/openllm/models/auto/modeling_vllm_auto.py
  src/openllm/utils/analytics.py
  src/openllm/utils/codegen.py
  src/openllm/utils/dantic.py
  src/openllm/utils/representation.py
  tools/update-config-stubs.py
  tools/update-init-import.py
  tools/update-models-import.py
Due: pyright

fix(cli): remove compiled dantic due to native variable for click
  pyproject.toml
  src/openllm/bundle/_package.py
  src/openllm/bundle/oci/__init__.py
  src/openllm/cli/_factory.py
  src/openllm/utils/__init__.py
Due: pyright

fix(cibuildwheel): specific package dir
  .github/workflows/compile-pypi.yml
Due: none

fix: correct path for monorepo
  .editorconfig
  .github/workflows/compile-pypi.yml
  .pre-commit-config.yaml
  openllm-python/src/openllm/__init__.py
  openllm-python/src/openllm/_configuration.py
  openllm-python/src/openllm/_generation.py
  openllm-python/src/openllm/_llm.py
  openllm-python/src/openllm/_quantisation.py
  openllm-python/src/openllm/_strategies.py
  openllm-python/src/openllm/bundle/_package.py
  openllm-python/src/openllm/bundle/oci/__init__.py
  openllm-python/src/openllm/cli/_sdk.py
  openllm-python/src/openllm/serialisation/__init__.py
  openllm-python/src/openllm/utils/__init__.py
  openllm-python/src/openllm/utils/lazy.py
  pyproject.toml
  tools/update-config-stubs.py
Due: pyright

chore: remove dry-run
  .github/workflows/ci.yml
  .github/workflows/compile-pypi.yml
Due: none

chore: build set deployment target to 11.0
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/compile-pypi.yml
Due: none

chore: lock actions
  .github/workflows/auto-bot.yml
  .github/workflows/binary-releases.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/compile-pypi.yml
  .github/workflows/create-releases.yml
  .github/workflows/release-notes.yml
  tools/lock-actions
Due: none

chore: ignore format for linux envvar
  .github/workflows/compile-pypi.yml
Due: none

fix: run coverage for subdir
  hatch.toml
Due: none

Adding support for ggml version.
  src/openllm/models/llama/__init__.py
  src/openllm/models/llama/modelling_ggml_llama.py
  src/openllm/utils/__init__.py
  src/openllm/utils/import_utils.py
Due: pyright

chore: disable coverage for now
  .github/workflows/ci.yml
Due: none

chore: finalize refactor
  DEVELOPMENT.md
  pyproject.toml
Due: none

fix: update context for container build
  .github/actions/create_release_and_archive.sh
  .github/workflows/build.yml
  DEVELOPMENT.md
  README.md
  openllm-python/README.md
  openllm-python/pyproject.toml
  openllm-python/src/openllm/bundle/oci/Dockerfile
Due: check-models-table-update

chore: update archival installation notes [skip ci]
  .gitattributes
  .github/dependabot.yml
  .pre-commit-config.yaml
  tools/sync-readme
  tools/update-dummy.py
Due: pyright

feat: add default python version for development [skip ci]
  .github/actions/setup-repo/action.yml
  .github/workflows/binary-releases.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/create-releases.yml
  .pre-commit-config.yaml
  .python-version-default
  DEVELOPMENT.md
  hatch.toml
  tools/assert-model-table-latest
  tools/lock-actions
Due: none
