Repository bentoml/OpenLLM: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-models-table-update, sync-readme, changelog-dry-run, pyright

.pre-commit-config.yaml:

ci:
  autoupdate_schedule: weekly
  skip: [check-models-table-update, changelog-dry-run, pyright, mypy, yapf, sync-readme, clj-kondo, eslint, prettier]
  autofix_commit_msg: "ci: auto fixes from pre-commit.ci\n\nFor more information, see https://pre-commit.ci"
  autoupdate_commit_msg: 'ci: pre-commit autoupdate [pre-commit.ci]'
default_language_version:
  python: python3.11 # NOTE: sync with .python-version-default
exclude: '.*\.(css|js|svg)$'
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.0.285'
    hooks:
      - id: ruff
        verbose: true
        args: [--exit-non-zero-on-fix, --show-fixes]
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: '2.7.2'
    hooks:
      - id: editorconfig-checker
        verbose: true
  - repo: https://github.com/econchick/interrogate
    rev: 1.5.0
    hooks:
      - id: interrogate
        verbose: true
        types: [python]
        exclude: ^(docs|tools|openllm-python/tests)
        args: [--config=pyproject.toml]
  - repo: https://github.com/google/yapf
    rev: v0.40.1
    hooks:
      - id: yapf
        verbose: true
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.47.0
    hooks:
      - id: eslint
        verbose: true
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.2
    hooks:
      - id: prettier
        verbose: true
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types_or: [javascript, yaml, ts]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.1
    hooks:
      - id: mypy
        verbose: true
        exclude: |
          (?x)^(
              examples/.*|
              tools/.*|
              tests/.*|
              openllm-python/src/openllm/playground/.*|
              openllm-python/tests/.*|
              .github/.*|
              cz.py |
              hatch_build.py
          )$
        additional_dependencies:
          - click==8.1.3
          - peft
          - bentoml==1.1.1
          - transformers>=4.31.0
          - pandas-stubs
          - types-psutil
          - types-tabulate
          - types-PyYAML
          - types-protobuf
  - repo: https://github.com/vincentjames501/pre-commit-clojure
    rev: v2.0.3
    hooks:
      - id: clj-kondo
        verbose: true
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        verbose: true
      - id: end-of-file-fixer
        verbose: true
        exclude: |
          (?x)^(
              openllm-python/tests/models/.*
          )$
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml
      - id: check-docstring-first
      - id: check-added-large-files
      - id: debug-statements
      - id: check-merge-conflict
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: local
    hooks:
      - id: check-models-table-update
        name: check if table in README.md is up-to-date
        entry: ./tools/assert-model-table-latest.py
        language: script
        verbose: true
        files: README.md
      - id: sync-readme
        name: sync readme with python core library
        entry: ./tools/sync-readme.sh
        language: script
        verbose: true
        files: README.md
      - id: changelog-dry-run
        name: Running changelog dry-run
        entry: hatch run changelog
        language: system
        files: CHANGELOG.md
      - id: pyright
        name: pyright
        entry: ./tools/pyright
        types: [python]
        language: node
        pass_filenames: false
        additional_dependencies: ['pyright@1.1.317']
        verbose: true

Update README.md
  README.md
Due: check-models-table-update, sync-readme

docs: cleanup README.md landing page (#302)
  README.md
Due: check-models-table-update, sync-readme

chore: cleanup pre-commit jobs and update usage
  .pre-commit-config.yaml
  clean.sh
  hatch.toml
  openllm-python/README.md
  openllm-python/pyproject.toml
  tools/assert-model-table-latest.py
  tools/mirror.sh
  tools/sync-readme.sh
  tools/update-readme.py
  wheels.sh
Due: check-models-table-update, sync-readme, pyright

fix: Update Clojure UI backlink in README.md to new project structure
  README.md
Due: check-models-table-update, sync-readme

revert: disable compiled wheels for now
  .github/workflows/compile-pypi.yml
  .github/workflows/create-releases.yml
  .github/workflows/release-notes.yml
Due: none

chore: add changelog
  changelog.d/304.change.md
Due: none

fix: compiled
  .github/workflows/compile-pypi.yml
Due: none

chore: ignore pyright
  .pre-commit-config.yaml
Due: none

revert: disable compiled wheels for now (#304)
  .github/workflows/compile-pypi.yml
  .github/workflows/create-releases.yml
  .github/workflows/release-notes.yml
  .pre-commit-config.yaml
  changelog.d/304.change.md
Due: none

infra: prepare for release 0.3.1 [generated] [skip ci]
  CHANGELOG.md
  changelog.d/304.change.md
  openllm-contrib/clojure/package.json
  openllm-node/package.json
  openllm-python/CHANGELOG.md
  package.json
Due: changelog-dry-run

infra: bump to dev version of 0.3.2.dev0 [generated] [skip ci]
  openllm-contrib/clojure/package.json
  openllm-node/package.json
  package.json
Due: none

infra: bump to homebrew tap release to 0.3.1 [generated] [skip ci]
  Formula/openllm.rb
Due: none

fix: synchronize device for inference
  openllm-python/src/openllm/_llm.py
Due: pyright

infra: prepare for release 0.3.2 [generated] [skip ci]
  CHANGELOG.md
  openllm-contrib/clojure/package.json
  openllm-node/package.json
  openllm-python/CHANGELOG.md
  package.json
Due: changelog-dry-run

infra: bump to dev version of 0.3.3.dev0 [generated] [skip ci]
  openllm-contrib/clojure/package.json
  openllm-node/package.json
  package.json
Due: none

infra: bump to homebrew tap release to 0.3.2 [generated] [skip ci]
  Formula/openllm.rb
Due: none

fix(quantize): dyn quant for int8 and int4
  openllm-core/src/openllm_core/config/configuration_llama.py
  openllm-python/pyproject.toml
  openllm-python/src/openllm/_llm.py
Due: pyright

infra: prepare for release 0.3.3 [generated] [skip ci]
  CHANGELOG.md
  openllm-contrib/clojure/package.json
  openllm-node/package.json
  openllm-python/CHANGELOG.md
  package.json
Due: changelog-dry-run

infra: bump to dev version of 0.3.4.dev0 [generated] [skip ci]
  openllm-contrib/clojure/package.json
  openllm-node/package.json
  package.json
Due: none

infra: bump to homebrew tap release to 0.3.3 [generated] [skip ci]
  Formula/openllm.rb
Due: none

fix typo
  README.md
Due: check-models-table-update, sync-readme

chore: add openllm-core as meta dependencies
  openllm-python/pyproject.toml
  tools/dependencies.py
Due: pyright

dos: correct typo on headline (#305)
  README.md
Due: check-models-table-update, sync-readme

chore(serialisation): dump quantization_config.json to conform with optimum load
  openllm-python/src/openllm/serialisation/transformers/__init__.py
Due: pyright

chore: update langchain examples
  examples/langchain-chains-demo/service.py
Due: pyright

chore: update documentation wrt to envvar correctness
  README.md
  openllm-core/src/openllm_core/config/configuration_baichuan.py
  openllm-core/src/openllm_core/config/configuration_chatglm.py
  openllm-core/src/openllm_core/config/configuration_dolly_v2.py
  openllm-core/src/openllm_core/config/configuration_falcon.py
  openllm-core/src/openllm_core/config/configuration_gpt_neox.py
  openllm-core/src/openllm_core/config/configuration_mpt.py
  openllm-core/src/openllm_core/config/configuration_stablelm.py
  openllm-core/src/openllm_core/config/configuration_starcoder.py
  tools/dependencies.py
Due: check-models-table-update, sync-readme, pyright

fix(ci): make sure to lock build to 0.10
  .github/workflows/build-embedding.yml
Due: none

fix(embeddings): update to the latest API name
  .github/workflows/build-embedding.yml
Due: none

fix(ratchet): lock correctly on cron job
  .github/workflows/binary-releases.yml
  .github/workflows/build-embedding.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/clojure-frontend.yml
  .github/workflows/compile-pypi.yml
  .github/workflows/create-releases.yml
  .github/workflows/cron.yml
  .github/workflows/release-notes.yml
  tools/update-actions.sh
Due: none

fix(cron): make sure to use correct PAT with workflow permisision
  .github/workflows/cron.yml
Due: none

chore: bootstrap and prep
  docs/package.json
  docs/pages/_meta.json
  docs/pages/index.mdx
  docs/pages/index.module.css
  examples/bentoml-demo/service.py
  examples/langchain-chains-demo/service.py
Due: pyright

fix(serving): vllm bad num_gpus
  openllm-python/src/openllm/_assign.py
Due: pyright

fix(vllm): Make sure to use max number of GPUs available (#326)
  openllm-python/src/openllm/_assign.py
Due: pyright

chore(infra): increase max number of PR [skip ci]
  .github/dependabot.yml
Due: none

fix(actions): hermetic dependencies
  .github/workflows/binary-releases.yml
  .github/workflows/build-embedding.yml
  .github/workflows/build.yml
  .github/workflows/clojure-frontend.yml
  tools/update-actions.sh
Due: none

fix(serilisation): vllm support for safetensors
  openllm-python/src/openllm/_llm.py
  openllm-python/src/openllm/serialisation/transformers/__init__.py
  openllm-python/src/openllm/serialisation/transformers/weights.py
Due: pyright

chore: running tools
  openllm-python/pyproject.toml
  openllm-python/src/openllm/utils/dummy_pt_objects.py
  openllm-python/src/openllm/utils/dummy_vllm_objects.py
  tools/dependencies.py
Due: pyright

chore: generalize one shot generation
  openllm-python/src/openllm/_llm.py
  openllm-python/src/openllm/models/falcon/modeling_falcon.py
  openllm-python/src/openllm/models/llama/modeling_llama.py
  openllm-python/src/openllm/models/starcoder/modeling_starcoder.py
Due: pyright

chore: add changelog [skip ci]
  changelog.d/324.fix.md
Due: none
