Repository bentoml/OpenLLM: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-header, check-models-table-update, changelog-dry-run

check-license-header:
  name: check for license headers
  entry: ./tools/assert-license-headers
  language: script

check-models-table-update:
  name: check if table in README.md is up-to-date
  entry: ./tools/assert-model-table-latest
  language: script

changelog-dry-run:
  name: Running changelog dry-run
  entry: hatch run changelog
  language: system

chore: update bug-report
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

fix(infra): move lines to placeholder
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Update _types.py
  src/openllm/_types.py
Due: check-license-header

fix(cli): support loading model-id from local path
  src/openllm/cli.py
Due: check-license-header

fix(build): quote environment variables
  src/openllm/_package.py
  src/openllm/cli.py
Due: check-license-header

fix(build): make sure not to overwrite missing openllm in build without dev mode
  src/openllm/_package.py
Due: check-license-header

docs: update LangChain integration
  README.md
Due: check-models-table-update

docs: update typo and links
  README.md
Due: check-models-table-update

chore(cli): normalize kebab case
  src/openllm/cli.py
Due: check-license-header

chore(cli): normalize kebab case (#50)
  src/openllm/cli.py
Due: check-license-header

feat: model_derivate
  src/openllm/_configuration.py
Due: check-license-header

test: add simple case for structing default value
  tests/test_configuration.py
Due: check-license-header

feat: support pickling
  src/openllm/_configuration.py
Due: check-license-header

feat(config): new class generation (#51)
  src/openllm/_configuration.py
  tests/test_configuration.py
Due: check-license-header

Add basic web ui proof of concept
  src/openllm_web_client/.gitignore
  src/openllm_web_client/README.md
  src/openllm_web_client/deps.edn
  src/openllm_web_client/package.json
  src/openllm_web_client/postcss.config.js
  src/openllm_web_client/shadow-cljs.edn
  src/openllm_web_client/src/css/tailwind.css
  src/openllm_web_client/src/main/openllm/app.cljs
  src/openllm_web_client/src/main/openllm/db.cljs
  src/openllm_web_client/src/main/openllm/events.cljs
  src/openllm_web_client/src/main/openllm/subs.cljs
  src/openllm_web_client/src/main/openllm/views.cljs
  src/openllm_web_client/tailwind.config.js
  src/openllm_web_client/www/index.html
Due: check-license-header, check-models-table-update

fix: correct bettertransformer envvar
  src/openllm/cli.py
Due: check-license-header

fix: correct bettertransformer envvar (#54)
  src/openllm/cli.py
Due: check-license-header

feat: adapter serving
  .gitattributes
  README.md
  changelog.d/39.feature.md
  nightly-requirements.txt
  pyproject.toml
  src/openllm/__init__.py
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/_package.py
  src/openllm/_trainer.py
  src/openllm/cli.py
  src/openllm/exceptions.py
  src/openllm/models/auto/factory.py
  src/openllm/models/dolly_v2/modeling_dolly_v2.py
  src/openllm/models/falcon/modeling_falcon.py
  src/openllm/models/opt/configuration_opt.py
  src/openllm/models/starcoder/modeling_starcoder.py
  src/openllm/playground/README
  src/openllm/playground/ft_opt_lora.py
  src/openllm/utils/__init__.py
  src/openllm/utils/codegen.py
  src/openllm/utils/dantic.py
  src/openllm/utils/import_utils.py
  src/openllm/utils/representation.py
  src/openllm_client/runtimes/base.py
  tools/update-config-stubs.py
  tools/update-optional-dependencies.py
  typings/attr/__init__.pyi
  typings/click_option_group/_decorators.pyi
  typings/deepmerge/merger.pyi
Due: check-license-header, check-models-table-update

chore: update changelog
  changelog.d/52.feature.md
Due: none

fix: update changelog
  changelog.d/52.feature.md
Due: none

Added chat controls
  src/openllm_web_client/src/main/openllm/views.cljs
Due: check-license-header

feat(build): add local adapters to bento for serving
  pyproject.toml
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/_package.py
  src/openllm/_service.py
  src/openllm/cli.py
  src/openllm/models/auto/factory.py
  src/openllm/models/opt/modeling_opt.py
  src/openllm/utils/codegen.py
  src/openllm/utils/import_utils.py
  tools/assert-model-table-latest
Due: check-license-header

chore(service): add examples for metadata
  src/openllm/_service.py
Due: check-license-header

fix(tests): broken
  src/openllm/cli.py
Due: check-license-header

fix: regression with sentinel object for constructing subclass
  src/openllm/_configuration.py
  src/openllm/_package.py
Due: check-license-header

feat: serve adapter layers (#52)
  .gitattributes
  README.md
  changelog.d/52.feature.md
  nightly-requirements.txt
  pyproject.toml
  src/openllm/__init__.py
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/_package.py
  src/openllm/_service.py
  src/openllm/_trainer.py
  src/openllm/cli.py
  src/openllm/exceptions.py
  src/openllm/models/auto/factory.py
  src/openllm/models/dolly_v2/modeling_dolly_v2.py
  src/openllm/models/falcon/modeling_falcon.py
  src/openllm/models/opt/configuration_opt.py
  src/openllm/models/opt/modeling_opt.py
  src/openllm/models/starcoder/modeling_starcoder.py
  src/openllm/playground/README
  src/openllm/playground/ft_opt_lora.py
  src/openllm/utils/__init__.py
  src/openllm/utils/codegen.py
  src/openllm/utils/dantic.py
  src/openllm/utils/import_utils.py
  src/openllm/utils/representation.py
  src/openllm_client/runtimes/base.py
  tools/assert-model-table-latest
  tools/update-config-stubs.py
  tools/update-optional-dependencies.py
  typings/attr/__init__.pyi
  typings/click_option_group/_decorators.pyi
  typings/deepmerge/merger.pyi
Due: check-license-header, check-models-table-update

chore(cli): better command recommendation
  src/openllm/cli.py
Due: check-license-header

chore(cli): better command recommendation (#56)
  src/openllm/cli.py
Due: check-license-header

Added files
  compose-dev.yaml
  src/openllm/models/auto/configuration_auto.py
  src/openllm/models/auto/modeling_auto.py
  src/openllm/models/auto/modeling_tf_auto.py
  src/openllm/models/bart/__init__.py
  src/openllm/models/bart/configuration_bart.py
  src/openllm/models/bart/modeling_bart.py
  src/openllm/models/bart/modeling_tf_plan_bart.py
  src/openllm/models/flan_t5/__init__.py
  src/openllm/models/flan_t5/configuration_flan_t5.py
Due: check-license-header

fix(cli): ensure we parse tag for download
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/_package.py
  src/openllm/cli.py
  src/openllm/models/auto/configuration_auto.py
  src/openllm/utils/__init__.py
  src/openllm/utils/import_utils.py
  src/openllm_client/_prompt.py
  tests/_strategies/_configuration.py
Due: check-license-header

chore: add changelog entry for bug fix
  changelog.d/58.fix.md
  pyproject.toml
Due: none

style: lint and format
  src/openllm/_llm.py
Due: check-license-header

chore: update changelog
  changelog.d/58.fix.md
Due: none

chore: add backward compatible warning
  src/openllm/utils/__init__.py
  src/openllm/utils/lazy.py
Due: check-license-header

fix(cli): ensure we parse tag for download (#58)
  changelog.d/52.feature.md
  changelog.d/58.fix.md
  pyproject.toml
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/_package.py
  src/openllm/cli.py
  src/openllm/models/auto/configuration_auto.py
  src/openllm/utils/__init__.py
  src/openllm/utils/import_utils.py
  src/openllm/utils/lazy.py
  src/openllm_client/_prompt.py
  tests/_strategies/_configuration.py
Due: check-license-header

fix(build): set null for first pass of service import
  src/openllm/_package.py
Due: check-license-header

chore: move pipeline to inference only
  src/openllm/_llm.py
  src/openllm/models/chatglm/modeling_chatglm.py
  src/openllm/models/dolly_v2/configuration_dolly_v2.py
  src/openllm/models/dolly_v2/modeling_dolly_v2.py
Due: check-license-header

Path conditions:
  check-license-header: any of: not (\.(md|markdown|mdown)$) and not (\.toml$) and not (\.json$) and not ((?x)^(
    tools/.*|
    changelog.d/.*|
    typings/.*|
    .github/.*
)$
) and not (.*\.(css|js|svg)$)
  check-models-table-update: any of: README.md, but not: .*\.(css|js|svg)$
  changelog-dry-run: any of: CHANGELOG.md, but not: .*\.(css|js|svg)$
