Repository bentoml/OpenLLM: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license-header, check-models-table-update, changelog-dry-run

check-license-header:
  name: check for license headers
  entry: ./tools/assert-license-headers
  language: script

check-models-table-update:
  name: check if table in README.md is up-to-date
  entry: ./tools/assert-model-table-latest
  language: script

changelog-dry-run:
  name: Running changelog dry-run
  entry: hatch run changelog
  language: system

fix(chatglm): inference
  src/openllm/_llm.py
  src/openllm/cli.py
  src/openllm/models/chatglm/configuration_chatglm.py
  src/openllm/models/chatglm/modeling_chatglm.py
Due: check-license-header

models(dolly): rework implementation to support fine-tuning
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/models/dolly_v2/configuration_dolly_v2.py
  src/openllm/models/dolly_v2/modeling_dolly_v2.py
  src/openllm/utils/__init__.py
  src/openllm/utils/representation.py
Due: check-license-header

chore: add back backward compatiblity
  src/openllm/cli.py
Due: check-license-header

chore: update changelog
  changelog.d/60.fix.md
Due: none

models(falcon): update implementation for fine-tune
  changelog.d/60.fix.md
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/models/dolly_v2/modeling_dolly_v2.py
  src/openllm/models/falcon/configuration_falcon.py
  src/openllm/models/falcon/modeling_falcon.py
  tests/_strategies/_configuration.py
Due: check-license-header

chore(inference): move to use beam search instead of greedy sampling
  src/openllm/models/falcon/modeling_falcon.py
Due: check-license-header

fix(falcon): load with trust_remote_code
  src/openllm/_llm.py
  src/openllm/models/falcon/modeling_falcon.py
Due: check-license-header

fix(cast): using half precision for falcon
  src/openllm/models/falcon/modeling_falcon.py
Due: check-license-header

fix(runner): change how ensure_available works
  examples/bentoml-demo/service.py
  src/openllm/_llm.py
  src/openllm/_service.py
Due: check-license-header

revert: backward compatible change
  src/openllm/_llm.py
Due: check-license-header

chore: update examples
  examples/bentoml-demo/service.py
  examples/langchain-chains-demo/bentofile.yaml
  examples/langchain-chains-demo/download_model.py
  examples/langchain-chains-demo/requirements.txt
  examples/langchain-chains-demo/service.py
  examples/langchain-tools-demo/download_model.py
  examples/langchain-tools-demo/service.py
Due: check-license-header

peft(models): improve implementation (#60)
  changelog.d/60.fix.md
  examples/bentoml-demo/service.py
  examples/langchain-chains-demo/bentofile.yaml
  examples/langchain-chains-demo/download_model.py
  examples/langchain-chains-demo/requirements.txt
  examples/langchain-chains-demo/service.py
  examples/langchain-tools-demo/download_model.py
  examples/langchain-tools-demo/service.py
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/_service.py
  src/openllm/cli.py
  src/openllm/models/chatglm/configuration_chatglm.py
  src/openllm/models/chatglm/modeling_chatglm.py
  src/openllm/models/dolly_v2/configuration_dolly_v2.py
  src/openllm/models/dolly_v2/modeling_dolly_v2.py
  src/openllm/models/falcon/configuration_falcon.py
  src/openllm/models/falcon/modeling_falcon.py
  src/openllm/utils/__init__.py
  src/openllm/utils/representation.py
  tests/_strategies/_configuration.py
Due: check-license-header

fix(test): robustness
  hatch.toml
  src/openllm/_configuration.py
  src/openllm/utils/import_utils.py
  tests/_strategies/_configuration.py
  tests/test_configuration.py
Due: check-license-header

chore: add change log
  changelog.d/64.fix.md
Due: none

tests: add more testcases
  .github/actions/setup-repo/action.yml
  src/openllm/__init__.py
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/_trainer.py
  src/openllm/tests.py
  tests/models/flan_t5/test_modeling_flax_flan_t5.py
  tests/models/flan_t5/test_modeling_tf_flan_t5.py
  tests/models/opt/test_modeling_flax_opt.py
  tests/models/opt/test_modeling_tf_opt.py
  tests/test_configuration.py
  tools/update-config-stubs.py
Due: check-license-header

feat: coverage
  .github/workflows/ci.yml
  DEVELOPMENT.md
  hatch.toml
  pyproject.toml
  tools/generate-coverage.py
  tools/update-config-stubs.py
  tools/write-coverage-report.py
Due: none

fix(test): robustness (#64)
  .github/actions/setup-repo/action.yml
  .github/workflows/ci.yml
  DEVELOPMENT.md
  changelog.d/64.fix.md
  hatch.toml
  pyproject.toml
  src/openllm/__init__.py
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/_trainer.py
  src/openllm/tests.py
  src/openllm/utils/import_utils.py
  tests/_strategies/_configuration.py
  tests/models/flan_t5/test_modeling_flax_flan_t5.py
  tests/models/flan_t5/test_modeling_tf_flan_t5.py
  tests/models/opt/test_modeling_flax_opt.py
  tests/models/opt/test_modeling_tf_opt.py
  tests/test_configuration.py
  tools/generate-coverage.py
  tools/update-config-stubs.py
  tools/write-coverage-report.py
Due: check-license-header

chore: add windows CI
  .github/workflows/ci.yml
Due: none

fix: environment shouldn't be bytes
  src/openllm/cli.py
Due: check-license-header

chore: cleanup GIF
  assets/output.gif
Due: check-license-header

chore: add agent gif
  README.md
  assets/agent.gif
Due: check-license-header, check-models-table-update

chore: add more test matrices
  .github/workflows/ci.yml
  hatch.toml
Due: none

fix: converting envvar to string (#68)
  .github/workflows/ci.yml
  README.md
  assets/agent.gif
  assets/output.gif
  src/openllm/cli.py
Due: check-license-header, check-models-table-update

chore: add more test matrices (#70)
  .github/workflows/ci.yml
  hatch.toml
Due: none

chore: cleanup and due credits
  .github/dependabot.yml
  .github/workflows/auto-dependabot.yml
  .github/workflows/binary-releases.yml
  pyoxidizer.bzl
Due: check-license-header

feat: release binary distribution
  .github/workflows/auto-dependabot.yml
  .github/workflows/binary-releases.yml
  .github/workflows/release-notes.yml
  .gitignore
  pyoxidizer.bzl
  pyproject.toml
Due: check-license-header

chore: update metadata and disable MacOS ditribution for now
  .github/CODEOWNERS
  .github/actions/create_release_and_archive.sh
  .github/workflows/binary-releases.yml
  .github/workflows/release-notes.yml
  .gitignore
  pyoxidizer.bzl
  tools/run-release-action
Due: check-license-header

chore: better release interaction
  .github/actions/release.sh
  .github/workflows/create-releases.yml
  DEVELOPMENT.md
  tools/run-release-action
Due: none

fix: flaky tests
  .github/workflows/ci.yml
  tests/models/flan_t5/test_modeling_flan_t5.py
  tests/models/flan_t5/test_modeling_flax_flan_t5.py
  tests/models/flan_t5/test_modeling_tf_flan_t5.py
  tests/models/opt/test_modeling_flax_opt.py
  tests/models/opt/test_modeling_opt.py
  tests/models/opt/test_modeling_tf_opt.py
Due: check-license-header

changelog: added supported matrices
  changelog.d/66.feature.md
Due: none

fix: tests and broken test deps
  hatch.toml
  src/openllm/__init__.py
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/cli.py
  src/openllm/utils/representation.py
  tests/models/__init__.py
  tests/models/conftest.py
  tests/models/flan_t5/test_modeling_flan_t5.py
  tests/models/flan_t5/test_modeling_flax_flan_t5.py
  tests/models/flan_t5/test_modeling_tf_flan_t5.py
  tests/models/opt/test_modeling_flax_opt.py
  tests/models/opt/test_modeling_opt.py
  tests/models/opt/test_modeling_tf_opt.py
Due: check-license-header

fix: make sure to set environment if BENTOML_HOME is set
  src/openllm/_llm.py
Due: check-license-header

chore: remove xdist to avoid race condition
  hatch.toml
Due: none

fix: left CI more works
  .github/workflows/ci.yml
  DEVELOPMENT.md
  hatch.toml
Due: none

chore: fix dependencies for testing
  hatch.toml
Due: none

feat: release binary distribution (#66)
  .github/CODEOWNERS
  .github/actions/create_release_and_archive.sh
  .github/actions/release.sh
  .github/dependabot.yml
  .github/workflows/auto-dependabot.yml
  .github/workflows/binary-releases.yml
  .github/workflows/ci.yml
  .github/workflows/create-releases.yml
  .github/workflows/release-notes.yml
  .gitignore
  DEVELOPMENT.md
  changelog.d/66.feature.md
  hatch.toml
  pyoxidizer.bzl
  pyproject.toml
  src/openllm/__init__.py
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/cli.py
  src/openllm/utils/representation.py
  tests/models/__init__.py
  tests/models/conftest.py
  tests/models/flan_t5/test_modeling_flan_t5.py
  tests/models/flan_t5/test_modeling_flax_flan_t5.py
  tests/models/opt/test_modeling_flax_opt.py
  tests/models/opt/test_modeling_opt.py
  tests/models/opt/test_modeling_tf_opt.py
  tools/run-release-action
Due: check-license-header

chore: script to exit on error
  tools/run-release-action
Due: none

revert: "chore: script to exit on error"
  tools/run-release-action
Due: none

chore: simplify actions
  tools/run-release-action
Due: none

ci: manually dispatch reusable actions from CLI
  .github/workflows/binary-releases.yml
  .github/workflows/create-releases.yml
  .github/workflows/release-notes.yml
Due: none

Path conditions:
  check-license-header: any of: not (\.(md|markdown|mdown)$) and not (\.toml$) and not (\.json$) and not ((?x)^(
    tools/.*|
    changelog.d/.*|
    typings/.*|
    .github/.*
)$
) and not (.*\.(css|js|svg)$)
  check-models-table-update: any of: README.md, but not: .*\.(css|js|svg)$
  changelog-dry-run: any of: CHANGELOG.md, but not: .*\.(css|js|svg)$
