Repository bentoml/OpenLLM: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, check-models-table-update, changelog-dry-run

.pre-commit-config.yaml:

# Copyright 2023 BentoML Team. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

ci:
  autoupdate_schedule: weekly
  skip: [check-models-table-update, check-models-table-update, changelog-dry-run, pyright, mypy]
  autofix_commit_msg: "ci: auto fixes from pre-commit.ci\n\nFor more information, see https://pre-commit.ci"
  autoupdate_commit_msg: 'ci: pre-commit autoupdate [pre-commit.ci]'
exclude: '.*\.(css|js|svg)$'
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.0.278'
    hooks:
      - id: ruff
        args: [--exit-non-zero-on-fix, --show-fixes]
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/econchick/interrogate
    rev: 1.5.0
    hooks:
      - id: interrogate
        types: [python]
        exclude: ^(docs|tools|tests)
        args: [--config=pyproject.toml]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: ./tools/mypy
        'types_or': [python, pyi]
        language: python
        pass_filenames: false
        verbose: true
        exclude: |
          (?x)^(
              examples/.*|
              tools/.*|
              tests/.*|
              src/openllm/playground/.*|
              src/openllm/models/.*|
              .github/.*
          )$
        additional_dependencies: ["mypy==1.4.1", "types-tabulate", "types-Deprecated", "types-PyYAML", "types-decorator", "types-protobuf", "types-python-dateutil", "types-requests", "types-setuptools", "types-six", "types-ujson", "pandas-stubs", "types-Pillow", "types-Pygments", "types-appdirs", "types-colorama", "types-google-cloud-ndb", "types-jsonschema", "types-psutil", "types-pywin32", "types-tqdm", "types-openpyxl"]
      - id: pyright
        name: pyright
        entry: ./tools/pyright
        types: [python]
        language: node
        pass_filenames: false
        additional_dependencies: ['pyright@1.1.317']
        verbose: true
      - id: check-license-header
        name: check for license headers
        entry: ./tools/assert-license-headers
        language: script
        exclude_types:
          - 'markdown'
          - 'toml'
          - 'json'
          - 'text'
        exclude: |
          (?x)^(
              tools/.*|
              assets/.*|
              changelog.d/.*|
              typings/.*|
              .github/.*
          )$
      - id: check-models-table-update
        name: check if table in README.md is up-to-date
        entry: ./tools/assert-model-table-latest
        language: script
        files: README.md
      - id: changelog-dry-run
        name: Running changelog dry-run
        entry: hatch run changelog
        language: system
        files: CHANGELOG.md
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
              tests/models/.*
          )$
      - id: check-yaml
        args: ['--unsafe']
      - id: check-toml

fix(vllm): correctly load given model id from envvar (#181)
  changelog.d/181.fix.md
  src/openllm/_configuration.py
  src/openllm/_llm.py
  src/openllm/_strategies.py
  src/openllm/bundle/_package.py
  src/openllm/bundle/oci/Dockerfile
  src/openllm/cli/_factory.py
  src/openllm/cli/entrypoint.py
  src/openllm/cli/termui.py
  src/openllm/models/auto/factory.py
  src/openllm/utils/__init__.py
  src/openllm/utils/import_utils.py
Due: pyright

chore: add support for compiling wheels
  hatch.toml
  pyproject.toml
  tools/dependencies.py
Due: pyright

fix: mypy-safe
  .pre-commit-config.yaml
  hatch.toml
  src/openllm/__init__.py
  src/openllm/_configuration.py
  src/openllm/_generation.py
  src/openllm/_llm.py
  src/openllm/_service.py
  src/openllm/_strategies.py
  src/openllm/bundle/_package.py
  src/openllm/bundle/oci/__init__.py
  src/openllm/cli/_factory.py
  src/openllm/cli/entrypoint.py
  src/openllm/cli/termui.py
  src/openllm/serialisation/__init__.py
  src/openllm/serialisation/transformers.py
  src/openllm/utils/__init__.py
  src/openllm/utils/dantic.py
  src/openllm/utils/lazy.py
  src/openllm_client/runtimes/base.py
  src/openllm_client/runtimes/grpc.py
  tools/mypy
  typings/attr/__init__.pyi
Due: pyright

feat: initial work on compiling binary
  .github/workflows/build.yml
  .github/workflows/compile-pypi.yml
  .github/workflows/create-releases.yml
  .pre-commit-config.yaml
  README.md
  hatch.toml
  pyproject.toml
  src/openllm/_configuration.py
  src/openllm/_strategies.py
  src/openllm/bundle/__init__.py
  src/openllm/bundle/oci/__init__.py
  src/openllm/cli/entrypoint.py
  src/openllm/cli/termui.py
  src/openllm/utils/__init__.py
  src/openllm_client/runtimes/base.py
  src/openllm_client/runtimes/http.py
  typings/click_option_group/_decorators.pyi
Due: pyright, check-models-table-update

chore: update workflow to use compile-pypi
  .github/workflows/compile-pypi.yml
  .github/workflows/create-releases.yml
  .github/workflows/release-notes.yml
  pyproject.toml
Due: none

fix: include runs on for compiling wheels
  .github/workflows/build.yml
  .github/workflows/compile-pypi.yml
Due: none

fix(compile): make sure to only run download after the previous two finishes
  .github/workflows/compile-pypi.yml
Due: none

fix: absolute imports for compiled modules
  src/openllm/bundle/_package.py
  src/openllm/bundle/oci/__init__.py
  src/openllm/cli/_factory.py
  src/openllm/cli/termui.py
  src/openllm/serialisation/__init__.py
  src/openllm/serialisation/ggml.py
  src/openllm/serialisation/transformers.py
  src/openllm/utils/analytics.py
  src/openllm/utils/lazy.py
Due: pyright

fix: circular imports
  .github/workflows/compile-pypi.yml
  src/openllm/_prompt.py
  src/openllm/_quantisation.py
  src/openllm/models/llama/configuration_llama.py
  src/openllm/models/llama/modeling_llama.py
  src/openllm/utils/lazy.py
Due: pyright

chore: ignore mypy on CI
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

fix: typo
  .github/workflows/compile-pypi.yml
Due: none

fix: resolve imports for mypyc
  src/openllm/bundle/oci/__init__.py
Due: pyright

fix: MYPYPATH envvar
  .github/workflows/compile-pypi.yml
Due: none

chore: ignore service for compilation
  .github/workflows/compile-pypi.yml
  hatch.toml
  src/openllm/__init__.py
  src/openllm/_schema.py
  src/openllm/_service.py
Due: pyright

chore: set mypypath to correct path within container
  .github/workflows/compile-pypi.yml
Due: none

fix: imports
  src/openllm/client.py
  src/openllm_client/runtimes/base.py
Due: pyright

chore: disable compiling mypyc for now
  .github/workflows/compile-pypi.yml
  .github/workflows/create-releases.yml
  hatch.toml
Due: none

fix(container): correct cache directory
  src/openllm/bundle/oci/Dockerfile
Due: none

fix: remove tokens for release [skip ci]
  .github/workflows/compile-pypi.yml
Due: none

infra: prepare for release 0.2.14 [generated] [skip ci]
  CHANGELOG.md
  changelog.d/181.fix.md
  package.json
Due: changelog-dry-run

infra: bump to dev version of 0.2.15.dev0 [generated] [skip ci]
  package.json
Due: none

fix: releases issue when building new container [skip ci]
  .github/workflows/create-releases.yml
  src/openllm/bundle/oci/Dockerfile
Due: none

infra: prepare for release 0.2.15 [generated] [skip ci]
  CHANGELOG.md
  package.json
Due: changelog-dry-run

infra: bump to dev version of ..1.dev0 [generated] [skip ci]
  package.json
Due: none

chore: update README [skip ci]
  README.md
Due: check-models-table-update

fix: disable building xformers from source
  src/openllm/bundle/oci/Dockerfile
Due: none

fix(regression): setting quantize only if it is not None
  src/openllm/cli/_factory.py
  src/openllm/cli/entrypoint.py
Due: pyright

infra: prepare for release 0.2.16 [generated] [skip ci]
  CHANGELOG.md
  package.json
Due: changelog-dry-run

fix: add release for correct CI version [skip ci]
  .github/workflows/create-releases.yml
Due: none

feat: optimize model saving and loading on single GPU
  src/openllm/_llm.py
  src/openllm/cli/entrypoint.py
  src/openllm/models/dolly_v2/modeling_dolly_v2.py
  src/openllm/models/mpt/modeling_mpt.py
  src/openllm/models/opt/modeling_flax_opt.py
  src/openllm/models/opt/modeling_opt.py
  src/openllm/models/opt/modeling_tf_opt.py
  src/openllm/models/starcoder/modeling_starcoder.py
  src/openllm/serialisation/__init__.py
  src/openllm/serialisation/constants.py
  src/openllm/serialisation/transformers/__init__.py
  src/openllm/serialisation/transformers/_helpers.py
  src/openllm/serialisation/transformers/weights.py
  src/openllm/utils/__init__.py
  src/openllm/utils/analytics.py
Due: pyright

chore: add changelog [skip ci]
  changelog.d/183.feature.md
Due: none

feat: optimize model saving and loading on single GPU (#183)
  changelog.d/183.feature.md
  src/openllm/_llm.py
  src/openllm/cli/entrypoint.py
  src/openllm/models/dolly_v2/modeling_dolly_v2.py
  src/openllm/models/mpt/modeling_mpt.py
  src/openllm/models/opt/modeling_flax_opt.py
  src/openllm/models/opt/modeling_opt.py
  src/openllm/models/opt/modeling_tf_opt.py
  src/openllm/models/starcoder/modeling_starcoder.py
  src/openllm/serialisation/__init__.py
  src/openllm/serialisation/constants.py
  src/openllm/serialisation/transformers/__init__.py
  src/openllm/serialisation/transformers/_helpers.py
  src/openllm/serialisation/transformers/weights.py
  src/openllm/utils/__init__.py
  src/openllm/utils/analytics.py
Due: pyright

chore: initial work on ts client support
  .github/actions/release.sh
  .github/workflows/create-releases.yml
  DEVELOPMENT.md
  package.json
  src/openllm_js/package.json
Due: none

fix(ci): update version correctly [skip ci] (#184)
  .github/actions/release.sh
  .github/workflows/create-releases.yml
  DEVELOPMENT.md
  package.json
  src/openllm_js/package.json
Due: none

fix: enable xformers compiling from source for supporting torch version
  src/openllm/bundle/oci/Dockerfile
Due: none

chore: CODE_OF_CONDUCT.md [skip ci]
  .github/CODE_OF_CONDUCT.md
Due: none

chore(docs): update security notes obsidian style [skip ci]
  .github/SECURITY.md
Due: none
